@use 'scss/functions' as *;
@use 'scss/mixins' as *;

@include resetUnorderedList();

.hardening {
  li {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    --mdc-icon-size: 1.25rem;
    color: var(--ep-color-text-lighter);
  }
}
