@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  width: 300px;
  margin: auto;
}


.change {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.stress-damage {
  display: grid;
  grid-template-columns:  1fr 1fr;
  sl-form {
    display: contents;
  }
}

submit-button {
  width: 100%;
  margin-bottom: 0.5rem;
}