@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  gap: 0.5rem;
  --mdc-icon-button-size: 2rem;
  > * {
    pointer-events: initial;
  }
}

.scene {
  display: grid;
  grid-template-areas: 
  "name more"
  "players players";

  padding: 0.25rem;

  .scene-name {
    display: flex;
    align-items: center;
    i {
      margin-right: 0.5ch;
    }
    grid-area: name;
    margin: 0;
  }
  .scene-players {
    grid-area: players;
  }
  .menu {
    grid-area: more;
    color: var(--color-text-lighter);
  }

}

.scene-players {
  display: flex;
}

.scene-player {
  text-align: center;
  font-size: x-small;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;;
  color: black;;
  font-weight: bold;
  text-transform: uppercase;
  background-color: attr(data-color);
}