@use "functions" as *;

form button,
.dialog .dialog-buttons button,
button {
  background: var(--color-primary);
  color: var(--color-text);
  border: none;
  box-shadow: none !important;
  cursor: pointer;
  font-family: var(--font-primary);

  &:hover {
    background: lightv(var(--color-primary), 1.1);
  }

  &:active {
    background: lightv(var(--color-primary), 1.2);
  }

  &[disabled] {
    pointer-events: none;
    filter: grayscale(60%);
  }
  &.default {
    background: transparent;
    border: 1px solid var(--color-primary);
    color: lightv(var(--color-primary), 1.1);
    &:hover {
      background: alphav(var(--color-primary), 0.1);
    }
    &:active {
      background: alphav(var(--color-primary), 0.2);
    }
  }
}