
#players {
  // position: unset;
  display: flex;
  // flex-flow: column-reverse;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  background: none;
  bottom: 0;
  left: 0;
  width: unset;

  display: grid;
  grid-auto-flow: column;
  // grid-template-areas: "start";
  gap: 2px;
  z-index: 31;
  &:hover {
    z-index: 40;
  }
  &[hidden] {
    display: none;
  }
  .offline-toggle {
    padding: 2px;
    --mdc-icon-size: 20px;
    margin: 0 2px;
    height: 26px;
    width: 26px;
  }
  h3 {
    border: none;
    background: alphav(var(--color-bg), 0.8);
    margin: 0;
    display: flex;
    align-items: center;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // grid-area: start;
    // border-top-right-radius: 7px;
    padding: 2px 0.5rem;
    z-index: 2;
    align-self: end;
    // justify-self: baseline;
    // margin-right: 0.5rem;
    padding: 2px;
    width: calc(20px + 1rem);
    overflow: hidden;
    align-self: center;
    margin-left: 2px;
    display: none;
    cursor: pointer;
    i {
      font-size: 16px;
      &:first-child {
        margin-right: 0.5rem;
      }
    }
    .players-mode {
      // margin-left: 0.5rem;
      margin-left: auto;
      transform: rotate(90deg);
    }
    &:hover {
      background: var(--color-primary);
    }
  }

  #player-list {
    display: grid;
    grid-auto-flow: column;
    gap: 2px;
    margin: 0;
    display: contents;
    > * {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1rem;
      // background: alphav(var(--color-bg), 0.65);
      transition: background 100ms;
      align-self: flex-end;
      align-items: center;

      padding: 3px 0.5rem;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      font-size: 13px;
      text-shadow: 0 0 4px black;
      &:hover {
        background: alphav(var(--color-bg), 0.4);
      }

      .player-active {
        margin: 0;
        width: 8px;
      }

      .player-name {
        &.self {
          margin: 1px 0;
          font-size: 14px;
          // color: var(--color-secondary);
        }
      }

      // &:first-child {
      //   padding: 5px 0.5rem;
      //   font-size: 16px;
      // }

      // &:first-child {
      //   padding-bottom: 1.5rem;
      //   grid-area: start;
      //   border-top-left-radius: 0px;
      //   background: alphav(var(--color-bg), 0.7);
      //   &:hover {
      //     background: alphav(var(--color-bg), 0.85);
      //   }
      // }
    }
  }
}

#player-config label {
  color: var(--color-text);
}
