@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  padding: 0.25rem 0.5rem;
}

p {
  margin: 0.5rem 0.5rem 0;
}

div {
  display: flex;
  flex-flow: row wrap;
  & + div {
    border-top: 1px solid var(--color-border);
  }
}
