@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

:host([active]) {
  wl-list-item {
    background: alphav(var(--color-secondary), 0.25);
  }
}

wl-list-item {
  height: 40px;
  padding: 0 0.5rem;

  mwc-icon-button[slot='before'] {
    --mdc-icon-size: 38px;
    --mdc-icon-button-size: 40px;
    margin-right: 0.75rem;
  }

  span[slot='after'] {
    min-width: 2rem;
    text-align: center;
  }
}
