@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

:host([active]) {
  wl-list-item {
    background: alphav(var(--color-secondary), 0.25);
  }
}

:host([hidden]) {
  display: none;
}

wl-list-item {
  // height: 44px;
  padding: 0 0.5rem;

  mwc-icon-button[slot='before'] {
    --mdc-icon-size: 40px;
    --mdc-icon-button-size: 44px;
    margin-right: 0.75rem;
  }
  @include textButton();


  button[slot='after'] {
    min-width: 2rem;
    text-align: center;
    display: inline-block;
  }


  button {
    &[disabled] {
      color: var(--color-text-lighter);

    }
  }
  .name {
    width: max-content;
 
  }
}

.conditions {
  display: flex;
  flex-flow: row wrap;
  > * {
    margin-right: 0.5ch;
    @include animate-css(fadeIn, 250ms);
  }
}