@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  min-height: 650px;
}

sl-header {
  mwc-formfield {
    height: 32px !important;
  }
}

.detail-forms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5rem 0 0;
  
  sl-form {
    display: contents;
  }
}

sl-dropzone {
  position: relative;
}