@use 'scss/functions' as *;
@use 'scss/mixins' as *;

@include styled-scrollbars;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  min-height: 650px;
}

sl-header {
  mwc-formfield {
    height: 32px !important;
  }
}

[slot='details'] {
  position: relative;
}

.detail-forms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5rem 0 0;

  sl-form {
    display: contents;
  }
}

sl-dropzone {
  position: relative;
}

.influence {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 2.25rem min-content;
  align-items: center;
  padding: 0;
  grid-template-areas:
    'roll name actions'
    'desc desc desc';
  column-gap: 1rem;

  &.dragged {
    background: alphav(var(--ep-color-grey), 0.07);
    outline: none;
  }

  &.expanded {
    .roll {
      border-bottom: 2px dashed var(--ep-color-border);
      border-bottom-right-radius: 3px;
    }
  }
  &[disabled] {
    .roll {
      border-right-style: solid;
      border-right-width: 1px;
    }
    &.expanded {
      .roll {
        border-bottom-style: solid;
        border-bottom-width: 1px;
      }
    }
  }

  .name {
    grid-area: name;
    align-self: center;
    @include truncate(100%);
  }
  .roll {
    grid-area: roll;
    font-size: larger;
    padding: 0 1rem;
    align-self: center;
    height: 100%;
    display: grid;
    place-items: center;
    border-right: 2px dashed var(--ep-color-border);
    &[draggable='true'] {
      cursor: grab;
    }
  }
  .actions {
    grid-area: actions;
    display: flex;
    padding: 0 0.5rem 0 0;
    color: alphav(var(--ep-color-text), 0.9);
  }
  .formula {
    color: var(--ep-color-text-lighter);
  }
  .description {
    grid-area: desc;
    padding: 0 1rem;
    margin: 0.2rem 0 0.25rem;
    enriched-html {
      color: var(--ep-color-text-lighter);
    }
    // margin: 0.35rem 0 0.25rem;
  }
  mwc-icon-button {
    --mdc-icon-button-size: 2rem;
  }
}

.motivation-forms {
  display: grid;
  gap: 1rem;
  min-width: 300px;
}

.unique-influence-forms {
  min-width: 40ch;
}
