@use "scss/functions" as *;
@use "scss/mixins" as *;

@include itemAddon();

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.attack-details {
  display: grid;
  padding: 0.25rem;
  font-size: large;
}

.missile-info-form {
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5rem 0 0;
}

.missiles-quantity-form {
  display: flex;
  align-items: center;
  @include inputReset();
  input {
    width: 3.5ch;
    margin-left: 0.5ch;
  }
  .capacity {
    color: var(--color-text-lighter);
    margin-left: 0.5ch;
    min-width: 3.5ch;
  }
}

hr {
  width: 100%;
  border-color: var(--color-border);
}
