@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.settings {
  // padding: 0.25rem 0.5rem 0;
  text-align: center;
  --mdc-icon-button-size: 1.5rem;
  --mdc-icon-size: 1.25rem;
}

.additional {
  display: grid;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-top: 2px groove alphav(var(--ep-color-border), 0.5);
}

.options {
  color: var(--ep-color-text-lighter);
  text-align: center;
  margin: 0;
  padding: 0.25rem 0.5rem;
  font-size: small;
}

.roll-damage,
.check {
  width: calc(100% - 1rem);
  margin: 0.25rem 0.5rem;
  --mdc-theme-primary: var(--ep-color-negative);
}

.defense {
  padding: 0 0.75rem;
  wl-list-item {
    display: inline-flex;
    padding: 0.25rem;
    color: var(--ep-color-primary-alt);
  }
}
