@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-template-rows: min-content 1fr;
  padding: 0.5rem 1rem 1rem;
  width: 325px;
  min-height: 300px;
  gap: 0.25rem;
  height: 475px;
}

sl-popover {
  display: block;
}

mwc-tab-bar {
  --mdc-theme-primary: var(--ep-color-primary-alt);
  margin-bottom: 0.5rem;
}

.options-form {
  border-top: 1px solid var(--ep-color-border);
}
