@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.mental-armor-form {
  display: flex;

  @include inputReset();
  input[type='number'] {
    width: 3ch;
  }
}
