@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  z-index: 0;
}

:host([nested]) {
  header {
    background: alphav(var(--color-bg), 0.25);
  }
  .headings {
    padding: 0.15rem 0;
  }
  h3 {
    font-size: 1rem;
  }
  .details {
    font-size: 0.65rem;
  }
}

header {
  display: flex;
  position: relative;
  background: alphav(var(--color-bg-alt), 0.5);
}

.headings {
  display: grid;
  position: relative;
  flex: 1;
  text-align: left;
  padding: 0.3rem 0;
  z-index: 2;

  > * {
    display: inline-block;
    max-width: 100%;
    text-shadow: 0 0 4px black;
  }

  .details {
    display: block;
    font-family: var(--font-2);
    font-size: 0.7rem;
    text-transform: capitalize;
    text-align: center;
  }
}

h3 {
  align-self: end;
  font-size: large;
  place-self: center;
  @include truncate(100%);
}

h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  display: block;
  place-self: center;
  margin: 0rem 0.75rem;
  position: absolute;
  right: -4px;

  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0.85;
  // border-radius: 100%;
}

h4 {
  color: var(--color-text-lighter);
}

.description {
  margin: 0;
  font-size: 14px;
  color: var(--color-text-lighter);
  white-space: nowrap;
  border-top: 2px groove alphav(var(--color-border), 0.5);
  padding: 0.5rem 1rem;

  &.expanded {
    white-space: unset;
  }
  &.hidden {
    text-align: center;
  }
}
