@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

sl-header {
  & + .info-form {
    margin: 0.5rem 0 0;
  }
}

.info-form {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: -0.25rem;
}

sl-group {
  // font-size: larger;
  display: flex;
  margin-left: 0.5rem;
}

.level {
  list-style: none;
}

.level-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.level-settings {
  margin-bottom: 0.5rem;
}

[slot='drawer-content'] {
  display: flex;
  flex-flow: column;
  .text-areas {
    margin-top: auto;
  }
}

.add-effect-level-selector {
  margin-bottom: 1rem;
  width: max-content;
}

trait-form-level {
  &.active {
    border-color: var(--color-primary);
    border-width: 2px;
  }
}
