@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-auto-rows: min-content;
  gap: 0.25rem;
}

health-state-form {
  margin: 0 1rem;
}

figcaption {
  font-size: large;
}

.hardening {
  li {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    --mdc-icon-button-size: 1.75rem;
    --mdc-icon-size: 1.25rem;
    color: var(--color-text-lighter);
  }
}

.heal {
  &.ready {
    box-shadow: 0 0 4px var(--color-secondary);
  }
}
