@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.attack-details {
  display: grid;
  padding: 0.25rem;
  font-size: large;
}

p.label {
  @include listLabel();
  margin-bottom: 0.25rem;
}

.skills {
  display: flex;
  flex-flow: row wrap;
  padding: 0.25rem;
  li {
    list-style: none;
    margin-right: 0.5ch;
    @include dataComma();
    @include textButton();
    button {
      display: inline-flex;
    }
    .skill-name {
      @include truncate(250px);
      display: inline-block;
      margin-right: 0.5ch;
    }
  }
}
