@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  border-top: 1px solid alphav(var(--color-border), 0.5);
  position: relative;
  left: -1rem;
  width: calc(100% + 2rem);
  margin: 0.5rem 0;
}

span {
  text-transform: uppercase;
  font-family: var(--font-3);
  font-size: 0.9rem;
  letter-spacing: 0.25rem;
  opacity: 0.6;
  display: block;
  margin: 0.5rem 0 0 1.25rem;
}
