@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  padding: 0.5rem 1.6rem;
  color: var(--color-text);
  grid-template-areas:
    'avatar form form'
    'avatar tags type'
    'path path path';
  // gap: 0 0.5rem;
  grid-template-columns: min-content 1fr;
  // box-shadow: 0 5px 5px -5px black;
  align-items: center;

  row-gap: 0.2rem;

  ::slotted([slot='tag']) {
    border: 1px solid var(--color-grey);
    background: alphav(var(--color-grey), 0.5);
    padding: 0.15rem 0.25rem;
    letter-spacing: 0.5px;
    border-radius: 2px;
    @include animate-css(fadeIn, 200ms);
  }
}

.path {
  grid-area: path;
  margin-top: -0.2rem;
  color: var(--color-text-lighter);
  display: flex;
  align-items: center;
}

.type {
  grid-area: type;
  align-self: end;
  padding-left: 1px;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: lighter;
  color: var(--color-text-lighter);
  min-width: 100px;
  padding-right: 0.5rem;
  text-align: right;

  mwc-icon {
    --mdc-icon-size: 1rem;
  }
}

.tags {
  grid-area: tags;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  align-items: center;
  list-style: none;
  grid-auto-columns: min-content;
  font-size: 13px;
  font-weight: lighter;
  align-self: end;
  color: alphav(var(--color-text), 0.9);
  text-transform: uppercase;
}

input {
  font-family: var(--font-2);
  font-size: 1.5rem;
  padding: 0.1rem 0.5rem;
  margin: 0;
  align-self: start;
  width: 100%;
}

sl-form {
  grid-area: form;
  width: 100%;
  &[disabled] {
    pointer-events: none;
  }
  input {
    background: transparent;
    border: none;
    color: var(--color-text);
    border-bottom: 2px dashed var(--color-border);
    outline: none;
    transition: border-bottom 250ms;
    align-self: start;

    &:hover {
      border-bottom-style: dotted;
    }

    &:focus {
      border-color: var(--color-secondary);
      border-bottom-style: solid;
    }
    &[disabled] {
      pointer-events: none;
      border-color: transparent;
    }
  }
}

.add-photo {
  --mdc-icon-button-size: 2.5rem;
  grid-area: avatar;
}

.avatar-button {
  all: unset;
  cursor: pointer;
  grid-area: avatar;

  &:hover {
    .avatar {
      filter: drop-shadow(2px 2px 3px var(--color-secondary));
    }
  }
  &[disabled] {
    cursor: initial;
    pointer-events: none;
    .avatar {
      filter: drop-shadow(2px 2px 3px var(--color-disabled));
    }
  }

  &:focus {
    outline: 2px solid var(--color-secondary);
  }
}

.avatar {
  height: 66px;
  display: block;
}

.name-part {
  color: var(--color-text-lighter);
}
