@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

ul {
  margin: 0;
  padding-left: 1.5rem;
}

li {
  color: var(--color-text-lighter);
  span {
    color: var(--color-text);
  }
}


.summary-value {
  color: var(--color-text-lighter);
}
