@use "scss/functions" as *;
@use "scss/mixins" as *;
@include itemAddon();

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.detail-forms {
  padding: 0.5rem 0 0;
}

.settings-form {
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.modes-wrapper {
  display: flex;
  align-items: center;
  color: var(--color-text-lighter);
  mwc-slider {
    margin-left: 1.5ch;
  }
}

sl-animated-list {
  position: relative;
}

.mode-select-form {
  width: max-content;
  margin-bottom: 1rem;
}

.quantity-form {
  grid-template-columns: 1fr 1fr;
  > * {
    width: min-content;
    & + * {
      justify-self: end;
    }
  }
}

.attack-details {
  display: grid;
  padding: 0.25rem;
  font-size: large;
}

p.label {
  @include listLabel();
  margin-bottom: 0.25rem;
}
