@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
  background: hsl(0, 0%, 7%);
  color: hsl(0, 0%, 94%);
  font-family: 'Jost', sans-serif;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

a.inline-roll,
a.content-link {
  color: hsl(250, 40%, 52%);
}

hr {
  border-color: hsl(210, 14%, 53%);
}

h1,
h2 {
  border-color: hsl(210, 5%, 20%);
}

a {
  color: hsl(250, 40%, 52%);
}