@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  
}


.movement-list {
  margin: 0.25rem 0.5rem;
  display: flex;
  flex-flow: row wrap;
}

.movement-rate {
  list-style: none;
  button {
    all: unset;

    &:hover,
    &:focus {
      text-shadow: var(--text-shadow);
    }
  }
}

