@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
    box-sizing: border-box;
}

:host {
    display: block;
    padding: 0.25rem;
}

mwc-tab-bar {
    --mdc-theme-primary: var(--color-grey);
}

mwc-list {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

submit-button {
    padding: 0.25rem;
    width: 100%;
}

.custom-form {
    padding: 0.25rem 0.5rem;
    button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-text);
  min-width: 40px;
  pointer-events: initial;
  &:hover {
    box-shadow: 0 0 2px var(--color-secondary);
  }
  > * {
    pointer-events: none;
  }
}
}