@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.coating {
  border-radius: 0.5rem;
  border: 2px solid var(--color-border);
  background: var(--color-bg);
  margin: 0.25rem;
  height: 1.75rem;
  width: 1.75rem;
}
