@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  max-width: 280px;
  min-width: 100%;
  line-height: 1.5em;
  // letter-spacing: 0.5px;
  // font-weight: lighter;
  color: lightv(var(--color-text), 1.1);
  font-family: Jost;
  margin: 0.5rem 0;
  font-size: 15px;
  > p:first-of-type {
    margin: 0 !important;
  }
}

a.inline-roll,
a.entity-link {
  background: transparent !important;
  color: var(--color-primary-alt) !important;
  border: none !important;
  &:not(.broken):hover {
    text-shadow: 0 0 1px currentColor;
  }
  i {
    pointer-events: none;
  }
}

hr {
  border-color: var(--color-grey);
}

h1,
h2 {
  border-color: var(--color-border);
}
