@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
}

:host {
  display: block;
  max-width: 240px;
  min-width: 100%;
  line-height: 1.5em;

  color: lightv(var(--ep-color-text), 1.1);
  font-family: var(--font-1);
  margin: 0.5rem 0;
  font-size: 15px;
  > p:first-of-type {
    margin: 0 !important;
  }
}

a.inline-roll,
a.content-link {
  display: inline-flex;
  align-items: center;
  background: transparent !important;
  color: var(--ep-color-primary-alt) !important;
  border: none !important;
  &:not(.broken):hover {
    text-shadow: 0 0 1px currentColor;
  }
  i {
    pointer-events: none;
    color: currentColor;
  }
  
}

hr {
  border-color: var(--ep-color-grey);
}

h1,
h2 {
  border-color: var(--ep-color-border);
}
