@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  
}

sl-form {
  margin: 0 0.5rem;
}


.devices-header {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;
}

li[divider] {
  border-color: var(--color-border);
}

mwc-check-list-item {
  height: 30px;
}