@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

[slot='details'] {
  display: grid;
  grid-auto-rows: min-content;
  gap: 0.75rem;
  padding: 0.5rem 0.75rem;
  > * {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1px solid var(--color-border);
    background: var(--color-bg-alt);
  }
}

[slot='drawer-content'] {
  min-width: min-content;
  sl-form {
    min-width: 200px;
  }
}

.health-state {
  grid-auto-flow: column;
}

.auto-heal-form {
  p {
    margin-bottom: 0.5rem;
  }
}

.history {
  display: flex;
  flex-flow: column;
  min-width: 300px;

  .change-source {
    color: var(--color-grey);
  }

  delete-button {
    margin-left: auto;
  }
}
