@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

[slot='details'] {
  display: grid;
  grid-auto-rows: min-content;
  gap: 0.5rem;
}

[slot='drawer-content'] {
  min-width: max-content;
}

.history {
  display: flex;
  flex-flow: column;
  min-width: 300px;

  .change-source {
    color: var(--color-grey);
  }

  delete-button {
    margin-left: auto;
  }
}