@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

[slot='details'] {
  display: grid;
  grid-auto-rows: min-content;
  gap: 0.5rem;
}

[slot='drawer-content'] {
  min-width: 200px;
}

entity-form-layout {
  background: transparent;
}
