@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}


.accessories-list {
  display: flex;
  flex-flow: row wrap;
  padding: 0 0.5rem 0.5rem;
  position: relative;
  > li {
    list-style: none;
    display: inline-block;
    padding: 0.15rem 0.5rem;
    background: var(--color-border);
    border-radius: 7px;
    margin: 0.5rem 0.5rem 0 0;
  }
}


.ammo-form {
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0.5rem 0;
}

.battery-form {
  grid-template-columns: 1fr 1fr auto;
  padding: 0.5rem 0;
}

p.label {
  @include listLabel();
  margin-bottom: 0.25rem;
}

.attack-details {
  display: grid;
  padding: 0.25rem;
  font-size: large;
}