@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

.shape-name-form {
  @include inputReset();
  mwc-formfield {
    --mdc-theme-text-primary-on-background: var(--color-text-lighter);
  }
}

:host {
  display: block;
}

.battery-form {
  grid-template-columns: 1fr 1fr auto;
  padding: 0.5rem 0;
}

.ammo-form {
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0.5rem 0;
}

p.label {
  @include listLabel();
  margin-bottom: 0.25rem;
}

.attack-details {
  display: grid;
  padding: 0.25rem;
  font-size: large;
}

.shapes {
  display: flex;
  flex-flow: row wrap;
  padding: 0.25rem;
  position: relative;
}

.shape {
  --list-item-bg: #{alphav(var(--color-grey), 0.25)};
  --list-item-padding: 0.25rem 0.5rem;
  border-radius: 7px;
  margin-right: 0.25rem;
}
