@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0;
  --mdc-theme-primary: var(--color-grey);
}

.shared {
  display: flex;
  flex-flow: row wrap;
  padding: 0 0.5rem;
  > * {
    margin-top: 0.25rem;
  }
}

ul {
  display: grid;
  list-style: inside;
}

wl-list-item {
  padding: 0.25rem 0.5rem 0.25rem 1.5rem;
  font-size: 0.9rem;
  color: var(--color-text-lighter);
  * {
    color: var(--color-text);
  }
  .label {
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--color-text);
    & ~ * {
      color: var(--color-text-lighter);
    }
  }
}
