@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: row wrap;
  // padding: 0.125rem 0.25rem;
  margin: 0.25rem 0.5rem;
  // border-left: 2px solid alphav(var(--color-negative), 0.5);
  // background: linear-gradient(
  //   to right,
  //   alphav(var(--color-negative), 0.2),
  //   rgba(0, 0, 0, 0)
  // );
}

colored-tag {
  margin: 0.125rem 0.125rem 0 0;
}
