@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.card {
  display: grid;
  grid-template-areas:
    'name actions'
    'attacks attacks'
    'description description';
  grid-template-columns: 1fr;
  padding: 0.25rem 0.5rem;
  // box-shadow: 0 1px 0.2rem black;
  position: relative;
  cursor: pointer;
}

.name {
  font-size: large;
  grid-area: name;
  margin-left: 0.5rem;
}

.type {
  color: var(--color-text-lighter);
}

.attacks {
  display: flex;
  --mdc-theme-primary: var(--color-grey);
  grid-area: attacks;
}

.actions {
  --mdc-icon-button-size: 1.5rem;
  grid-area: actions;
  color: var(--color-text-lighter);
}

.description {
  grid-area: description;
  border-top: 2px groove var(--color-border);
  padding: 0.5rem;
  padding-bottom: 0;
}
