@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  align-items: center;
  --mdc-icon-button-size: 2rem;
  padding: 0.25rem;
  margin: 0.25rem;
  background: alphav(var(--color-bg), 0.15);
  border-radius: 100px;
  box-shadow: 0 0 2px black;

  sl-form {
    height: 12px;
  }

  > * {
    pointer-events: initial;
  }

  time-field {
    &::part(footer) {
      display: none;
    }
  }
}
