@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  width: 325px;
}

.controls {
  display: flex;
  align-items: center;
  --mdc-icon-button-size: 2rem;
  padding: 0.25rem;
  // border-radius: 100px;
  // box-shadow: 0 0 2px black;
  position: relative;
  transition: background 75ms;
  pointer-events: all;
  overflow: hidden;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  sl-form {
    height: 12px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to top,
      alphav(var(--color-bg), 0.75),
      alphav(var(--color-bg-alt), 0.75)
    );
  }

  > * {
    pointer-events: initial;
  }

  time-field {
    &::part(footer) {
      display: none;
    }
  }
  &:hover,
  &:focus-within {
    background: alphav(var(--color-bg-alt), 0.95);
  }
}

.changes {
  // position: absolute;
  padding: 0 1rem 0 0;
  max-height: 4rem;
  display: flex;
  flex-flow: column-reverse;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
  overflow: hidden;
  text-shadow: 0 0 4px black;
  position: relative;
  top: 0.25rem;

  > * {
    animation-fill-mode: none !important;
    opacity: 0.4;
    transition: opacity 3s ease-out;
    list-style: none;
    &:nth-last-child(2) {
      opacity: 0.6;
    }
    &:last-child {
      opacity: 1;
    }
  }
}

.date {
  padding: 0.25rem 0.5rem;
  text-align: center;
  background: linear-gradient(
    to bottom,
    alphav(var(--color-bg), 0.75),
    alphav(var(--color-bg-alt), 0.75)
  );

  & + .controls {
    border-top: 2px groove var(--color-border);
  }
}

.time {
  border-right: 3px solid alphav(var(--color-grey), 0.375);
  padding-right: 0.5ch;
  pointer-events: initial;
}
