@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: column;
}

delete-button {
  margin: 0.5rem 0.5rem 0 auto;
}

.restore-menu {
  max-height: 50vh;
  overflow-y: auto;
  min-width: 300px;
  .restore-commit {
    position: sticky;
    bottom: 0;
  }
}

li[divider] {
  border-color: var(--color-border);
}

mwc-list-item {
  height: 46px;
  [slot='graphic'] {
    color: var(--color-text);
  }
  &[disabled] {
    [slot='graphic'] {
      color: var(--color-text-disabled);
    }
  }
}

mwc-check-list-item {
  height: 40px;
}

.restore-button {
  transition: box-shadow 1s ease-in-out;
  border-radius: 100%;
  &:not([disabled]) {
    box-shadow: 0 0 0.5rem var(--color-secondary);
  }
}

.type {
  color: var(--color-text-lighter);
}
