@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  min-width: 720px;
}


.inherent-armor {
  grid-template-columns: 1fr min-content min-content;
}