@use "scss/functions" as *;
@use "scss/mixins" as *;

@include listItemLabel();
@include dataComma();

* {
  box-sizing: border-box;
}

:host {
  display: block;
  margin: 0.5rem 0.25rem;
}

li {
  list-style: none;
}

.item-list {
  display: flex;
  flex-flow: row wrap;
  position: relative;

  li:not(.label) {
    margin-left: 0.5ch;
    display: inline-flex;
    button {
      all: unset;
      &:hover,
      &:focus {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
