@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: contents;
}

.skill-controls {
  @include inputReset();
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  span {
    font-size: large;
    padding: 0 0.5rem;
  }
  input {
    text-align: center;
    width: 100%;
    border: none;
    padding: 0.25rem 0.5rem;
    font-family: var(--font-3);
    border-left: 1px groove var(--color-border);
    border-right: 1px groove var(--color-border);
    background: rgba(black, 0.1);
    &:focus {
      background: rgba(black, 0.2);
    }
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
}

.skills-list {
  column-count: 3;
  column-gap: 0;
  $border: 1px groove var(--color-border);
  column-rule: $border;
  padding: 0 0 0.25rem;
  overflow: hidden;
  font-size: 14px;

  > * {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .divider {
    margin: 0.25rem 0;
  }

  .filter {
    margin-bottom: 0.25rem;
  }

  .divider,
  .filter {
    border-bottom: $border;
    column-span: all;
    list-style: none;
  }
}

.skill-item {
  padding: 0 0.5rem;
  transition: opacity 200ms, transform 200ms;
  .skill-name {
    @include truncate(130px);
    min-width: calc(100%);
    display: inline-block;
  }
  .skill-total {
    margin-left: 1ch;
  }

  &.filtered {
    opacity: 0.5;
    transform: translateX(0.3rem);
    border-color: transparent;
  }
}

.reps {
  background: var(--color-bg);
  background: linear-gradient(
    45deg,
    alphav(var(--color-bg), 0.75),
    alphav(var(--color-bg-alt), 0.75)
  );

  padding: 0.25rem 0;
  .label {
    display: inline-flex;
    align-items: center;
    --mdc-icon-button-size: 2rem;
    mwc-icon-button {
      margin-right: 0.5ch;
    }
    font-size: larger;
    padding: 0 0.5rem;
  }
}

.rep-sources {
  --mdc-theme-primary: var(--color-border);
  display: flex;
  flex-flow: row wrap;
  float: right;
  white-space: nowrap;
  > * {
    flex: 1;
    margin: 0.25rem 0.25rem 0;
  }
}

.rep-list {
  display: grid;
  clear: both;
  border-top: 1px groove var(--color-border);
}

.rep-header,
.rep-item {
  display: grid;
  grid-template-columns: 3fr 1fr 6ch 4ch 4ch;
  gap: 1rem;
  padding: 0 0.5rem;
  place-items: center;
  > :first-child {
    place-self: start;
  }
}

.rep-header {
  color: var(--color-text-lighter);
  text-transform: uppercase;
  padding: 0.125rem 0.5rem;
  margin-bottom: 0.125rem;
  border-bottom: 1px groove var(--color-border);
  > * {
    font-size: small;
  }
}

.rep-item {
  @include textButton();
  --mdc-icon-size: 1.25rem;
  &:hover {
    background: alphav(var(--color-text), 0.04);
  }
}
