@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-auto-rows: min-content;
}

.aptitudes-list,
.skills-list {
  column-rule: 1px groove var(--color-border);
  gap: 0.25rem;

  > * {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

.source {
  padding: 0.125rem 1rem;
  --list-item-bg: var(--color-bg);
  border-left: 4px double var(--color-primary);
  margin: 0.125rem;
  box-shadow: 0 0 4px rgba(black, 0.1);
  span[slot='before'] {
    margin-right: 1ch;
  }
}

sl-details {
  &::part(content) {
    padding: 0.25rem;
  }
  &::part(toggle) {
    padding: 0.125rem 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
  }
  &[open]::part(toggle) {
    background: linear-gradient(45deg, var(--color-bg-alt), transparent);
    box-shadow: 0 1px 2px black;
  }
  &.aptitudes {
    &::part(content) {
      padding-bottom: 0;
    }
  }
}

.skills {
  border-top: 1px solid var(--color-border);
  &::part(content) {
    padding-top: 0;
  }
}

.aptitudes-list {
  column-count: 3;
  font-family: var(--font-mono);
}

.aptitude-item {
  padding: 0.125rem 0.5rem;
  margin-bottom: 0.25rem;
  --list-item-bg: #{alphav(var(--color-bg-alt), 0.9)};

  .acronym {
    color: var(--color-text-lighter);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  mwc-icon {
    --mdc-icon-size: 1rem;
    margin: 0 0.25ch 0 0;
  }
}

.aptitude-name {
  margin-right: 0.5ch;
  letter-spacing: 1px;
}

.aptitude-points {
  text-align: right;
  color: var(--color-text-lighter);
}

.aptitude-check {
  margin-left: 1ch;
  display: flex;
  align-items: center;
}

.skill-controls {
  @include inputReset();

  input {
    text-align: center;
    width: 100%;
    padding: 0.125rem;
    font-family: var(--font-2);
    background: alphav(var(--color-grey), 0.05);
    border-radius: 100px;
    border-style: solid;
    &:focus {
      background: rgba(black, 0.2);
      border-color: var(--color-secondary);
    }
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
}

.skills-list {
  $border: 1px groove var(--color-border);
  overflow: hidden;
  font-size: 14px;
  column-width: 190px;
  .divider {
    margin: 0.25rem 0;
    border-bottom: $border;
  }

  .filter {
    margin: 0.25rem;
  }

  .divider,
  .filter {
    column-span: all;
    list-style: none;
  }
}

.skill-item {
  padding: 0 0.5rem;
  transition: opacity 200ms, transform 200ms;
  .skill-name {
    @include truncate(130px);
    min-width: calc(100%);
    display: inline-block;
  }
  .skill-total {
    margin-left: 1ch;
  }

  &.filtered {
    opacity: 0.5;
    transform: translateX(0.3rem);
    border-color: transparent;
  }
}

.reputations,
.software-skills {
  border-top: 1px solid var(--color-border);
}

.rep-list {
  display: grid;
  clear: both;
  border-top: 1px groove var(--color-border);
  padding: 0.25rem 0;
}
.rep-header,
.rep-item {
  display: grid;
  grid-template-columns: 3fr 1fr 6ch 4ch 4ch;
  gap: 1rem;
  padding: 0 0.5rem 0 0.75rem;
  place-items: center;
  > :first-child {
    place-self: start;
  }
}

.rep-header {
  color: var(--color-text-lighter);
  text-transform: uppercase;
  padding: 0.125rem 0.5rem 0.125rem 0.75rem;
  margin-bottom: 0.125rem;
  border-bottom: 1px groove var(--color-border);
  > * {
    font-size: small;
  }
}

.rep-item {
  @include textButton();
  --mdc-icon-size: 1.25rem;
  font-family: var(--font-mono);

  &:hover {
    background: alphav(var(--color-text), 0.04);
  }

  .trivial-start {
    width: 100%;
  }

  .rep-name {
    @include truncate(100px);
    min-width: 100%;
  }
}

.software-name {
  font-weight: bold;
  margin-left: 1rem;
}
