@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-auto-rows: min-content;
  // gap: 0.25rem;
  padding: 0.125rem 0 0.25rem;
}

sl-header {
  padding: 0.125rem 0.75rem;
  border-bottom-color: var(--color-border);
}

.aptitudes-list,
.skills-list {
  column-rule: 1px groove var(--color-border);
  gap: 0.25rem;
  padding: 0.25rem;

  > * {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

.aptitudes-list {
  column-count: 3;
  font-family: var(--font-mono);
}

.aptitude-item {
  padding: 0.125rem 0.5rem;

  .acronym {
    color: var(--color-text-lighter);
    text-transform: uppercase;
    font-family: var(--font-mono);
    letter-spacing: 1px;
  }
  mwc-icon {
    --mdc-icon-size: 1rem;
    margin: 0 0.25ch 0 0;
  }
}

.aptitude-name {
  margin-right: 0.5ch;
}

.aptitude-points {
  text-align: right;
  color: var(--color-text-lighter);
}

.aptitude-check {
  margin-left: 1ch;
  display: flex;
  align-items: center;
}

.skill-controls {
  @include inputReset();
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  span {
    font-size: large;
    font-weight: bold;
    padding: 0 1rem;
  }
  input {
    text-align: center;
    width: 100%;
    border: none;
    padding: 0.25rem 0.5rem;
    font-family: var(--font-3);
    border-left: 1px groove var(--color-border);
    border-right: 1px groove var(--color-border);
    background: rgba(black, 0.1);
    &:focus {
      background: rgba(black, 0.2);
    }
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
}

.skills-list {
  $border: 1px groove var(--color-border);
  overflow: hidden;
  font-size: 14px;
  column-width: 190px;
  .divider {
    margin: 0.25rem 0;
  }

  .filter {
    margin-bottom: 0.25rem;
    border-top: $border;
  }

  .divider,
  .filter {
    border-bottom: $border;
    column-span: all;
    list-style: none;
  }
}

.skill-item {
  padding: 0 0.5rem;
  transition: opacity 200ms, transform 200ms;
  .skill-name {
    @include truncate(130px);
    min-width: calc(100%);
    display: inline-block;
  }
  .skill-total {
    margin-left: 1ch;
  }

  &.filtered {
    opacity: 0.5;
    transform: translateX(0.3rem);
    border-color: transparent;
  }
}

.reps {
  border-top: 1px solid var(--color-border);
}

.rep-sources {
  --mdc-theme-primary: var(--color-border);
  display: flex;
  flex-flow: row wrap;
  float: right;
  white-space: nowrap;
  > * {
    flex: 1;
    margin: 0.25rem 0.25rem 0;
  }
}

.rep-list {
  display: grid;
  clear: both;
  border-top: 1px groove var(--color-border);
}

.rep-header,
.rep-item {
  display: grid;
  grid-template-columns: 3fr 1fr 6ch 4ch 4ch;
  gap: 1rem;
  padding: 0 0.5rem 0 0.75rem;
  place-items: center;
  > :first-child {
    place-self: start;
  }
}

.rep-header {
  color: var(--color-text-lighter);
  text-transform: uppercase;
  padding: 0.125rem 0.5rem 0.125rem 0.75rem;
  margin-bottom: 0.125rem;
  border-bottom: 1px groove var(--color-border);
  > * {
    font-size: small;
  }
}

.rep-item {
  @include textButton();
  --mdc-icon-size: 1.25rem;
  &:hover {
    background: alphav(var(--color-text), 0.04);
  }

  .trivial-start {
    width: 100%;
  }

  .rep-name {
    @include truncate(100px);
    min-width: 100%;
  }

  .rep-acronym {
    // color: var(--color-text-lighter);
    // float: right;
    font-family: var(--font-mono);
  }
}

.software-section {
  border-top: 1px solid var(--color-border);
}

.software-name {
  font-weight: bold;
  margin-left: 1rem;
}
