@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  gap: 0.25rem;
  padding: 0 1rem;
  max-width: 300px;
  min-width: 100%;
}

.damage-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.25rem 0;
  sl-form {
    display: contents;
    :first-child:not(.multiplier) {
      grid-column: span 2;
    }
  }
}

.multiplier {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.25rem 0;
  multiplier-select {
    margin: 0;
  }
  span {
    min-width: 6ch;
    text-align: center;
  }
}

.change {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.armor-toggles {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  --mdc-theme-primary: var(--color-negative);
}

submit-button {
  width: 100%;
  margin-bottom: 0.5rem;
}

.armors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;
}

.armor,
.min-toggle {
  padding: 0.2rem 0.4rem;
  text-align: center;
  border: 1px groove var(--color-grey);
  white-space: nowrap;
  font-size: 15px;
  &.active {
    background: alphav(var(--color-grey), 0.2);
    border: 1px outset var(--color-grey);
  }
}

.additional-armor-form {
  place-items: center;
  @include inputReset();
  input {
    width: 5ch;
    text-align: center;
  }
}
