@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: column;
}

fieldset {
  &:first-of-type {
    margin-top: auto;
  }
  border: none;
  sl-form {
    grid-auto-flow: column;
  }
}

.recharge-field {
  sl-form {
    grid-template-columns: 1fr 245px;
  }
}

recharge-completion {
  padding: 0 1rem 1rem;
}

.recharge-init {
  padding: 0 1rem;
  sl-form {
    display: contents;
    &:first-of-type {
      :first-child {
        flex: 1;
        min-width: 100px;
      }
    }
  }
  p {
    text-align: center;
    margin: 0 0.5rem;
  }
}

.total-spent {
  color: var(--ep-color-text-lighter);
}

.infection-easing {
  &.disabled {
    text-decoration: line-through;
  }
}
