@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: column;
}

fieldset {
  &:first-of-type {
    margin-top: auto;
  }
  border: none;
  sl-form {
    grid-auto-flow: column;
  }
}

.recharge-field {
  sl-form {
    grid-template-columns: 1fr 245px;
  }
}

recharge-completion {
  padding: 0 1rem 1rem;
}

.recharge-init {
  sl-form {
    &:last-of-type {
      padding: 0rem 1rem 1rem;
      p {
        margin: 0;
        height: 53px;
        display: grid;
        place-items: center;
      }
      :nth-child(2n) {
        margin-left: auto;
        width: max-content;
      }
    }
  }
}

.total-spent {
  color: var(--color-text-lighter);
}
