@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

mwc-list-item {
  height: 2rem;
  &.active {
    background: alphav(var(--ep-color-primary), 0.5);
  }
}

.active-options {
  display: grid;
  padding: 0.25rem 0 0;
}

p {
  padding: 0.25rem;
  margin: 0;
}

mwc-button {
  --mdc-theme-primary: var(--ep-color-primary-alt);
}

.roll {
  display: flex;
  justify-content: space-between;
  padding: 0.125rem 1rem;
}

.already-active-label {
  margin: 0.25rem 1rem 0;
  text-transform: uppercase;
  color: var(--ep-color-text-lighter);
}
