@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

mwc-list-item {
  height: 2rem;
  &[selected] {
    background: alphav(var(--color-primary), 0.5);
  }
}
