@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  min-width: 375px;
}
.mode-form {
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 0.5rem;
}

sl-popover {
  width: 100%;
  margin-top: 0.25rem;
  mwc-button {
    width: 100%;
  }
}

.healths {
  min-width: 350px;
}

mwc-tab-bar {
  --mdc-theme-primary: var(--color-grey);
}

mwc-list-item {
  border-bottom: 1px solid var(--color-border);
}

p {
  text-align: center;
}

.heal-editor {
  grid-template-columns: 1fr 1fr;
  padding: 0 0.5rem 0.5rem;
}
