@use "scss/functions" as *;
@use "scss/mixins" as *;

@include styled-scrollbars;
@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-template-columns: 150px 1fr;
  width: 500px;
  border: 1px solid var(--color-border);
  --mdc-button-disabled-fill-color: var(--color-border);
}

sl-header {
  border-bottom-color: var(--color-border);
}

mwc-circular-progress {
  --mdc-theme-primary: var(--color-primary-alt);
}

wl-list-item {
  padding: 0.25rem 1rem;
  width: 100%;
  & + .fallback {
    display: none;
  }

  img {
    width: 30px;
    margin-right: 0.75rem;
  }
}

.entity-label {
  padding: 0 0.5rem;
  margin: 0.25rem 0;
}

mwc-formfield {
  height: 2rem;
}

.type {
  color: var(--color-text-lighter);
}

.fallback {
  padding: 0.5rem;
  text-align: center;
  list-style: none;
}

.sources {
  display: flex;
  flex-flow: column;
  background: var(--color-bg-alt);
  border-right: 1px solid var(--color-border);
}

.load {
  margin-top: auto;
  width: 100%;
  padding: 0.5rem;
}

.results {
  background: var(--color-bg);
  display: grid;
  grid-template-rows: auto 400px;

  .list {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
}

label {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.75rem;
  color: var(--color-text);
  background: var(--color-bg);
  height: 55px;
  border-bottom: 1px solid var(--color-border);
  &:focus-within {
    color: var(--color-secondary);
  }
  input {
    background: transparent;
    font-family: var(--font-1);
    border: none;
    flex: 1;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    color: var(--color-text);
    &::placeholder {
      text-transform: capitalize;
    }
    &:focus {
      outline: none;
    }
  }
}
