@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.state {
  font-size: large;
  text-align: center;
  margin: 0.25rem;
}

.actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .detonate {
    --mdc-theme-primary: var(--color-negative);
  }
}

.info {
  padding: 0 0.25rem;
}
