@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.state {
  font-size: large;
  text-align: center;
  margin: 0.25rem;
}

.actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.info {
  padding: 0 0.5rem;
}

.settings {
  display: grid;
  align-items: center;
  grid-template-areas: 'mode controls' 'trigger controls';
  grid-auto-rows: min-content;
  grid-template-columns: 1fr auto;
  padding: 0 0.5rem;

  .attack-mode {
    grid-area: mode;
    & + .trigger-option {
      color: var(--color-text-lighter);
      font-size: small;
    }
  }
  .trigger-option {
    grid-area: trigger;
    font-size: large;
  }
  .controls {
    grid-area: controls;
    --mdc-icon-size: 1.25rem;
    --mdc-icon-button-size: 1.5rem;
  }

}

.trigger-info,
.trigger-countdown {
  color: var(--color-text-lighter);
  font-size: small;
  &::first-letter {
    text-transform: capitalize;
  }
}

.detonate {
  --mdc-theme-primary: var(--color-negative);
  width: 100%;
}

p {
  margin: 0 0.5rem;
}

character-view-time-item {
  padding: 0.25rem 0.5rem;
}