@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: column;
}

.main-form {
  grid-template-columns: 1fr 1fr;
}

.min-form {
  display: flex;
  color: var(--ep-color-text-lighter);
  span {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
  }
  @include inputReset();
  input {
    align-self: center;
    width: 5ch;
    flex: 1;
    margin-right: 0.75ch;
  }
}
