@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

mwc-button {
  width: 100%;
  --mdc-theme-primary: var(--ep-color-primary-alt);
}

.critical-effects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-top: 1px solid var(--ep-color-border);
  p {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  mwc-button {
    width: unset;
  }
}

.immune {
  color: var(--ep-color-text-lighter);
  margin: 0.5rem;
}
