@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.detail-forms {
  padding: 0.5rem 0 0;
}

.primary-fields-form {
  grid-template-columns: 1fr auto;
}