@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.detail-forms {
  padding: 0.5rem 0 0;
}

.primary-fields-form {
  grid-template-columns: 1fr auto;
}

.rep-list {
  position: relative;
}

.rep {
  display: grid;
  grid-template-columns: 1fr 110px;
  gap: 0.25rem 0.5rem;
  align-items: center;
  grid-template-areas:
    'main score'
    'favors score';

  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: 1px solid var(--ep-color-border);
  border-radius: 4px;
  margin: 0.5rem 0;
  background: linear-gradient(
    to left,
    var(--ep-color-bg),
    var(--ep-color-bg-alt)
  );

  .network-abbreviation {
    color: var(--ep-color-text-lighter);
  }

  .score-form {
    grid-area: score;
  }

  .favors {
    grid-area: favors;
  }

  .favors {
    display: flex;
    justify-content: space-between;
    column-gap: 2ch;
    --mdc-icon-button-size: 1.5rem;
    --mdc-icon-size: 20px;
    > span {
      display: flex;
      color: alphav(var(--ep-color-text), 0.85);
    }
    .favor-label {
      color: var(--ep-color-text-lighter);
    }
  }
}

.rep-main {
  grid-area: main;
  --mdc-icon-button-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1ch;
  .rep-name {
    @include truncate(100%);
    flex-grow: 1;
    width: 0px;
  }
}
