@use 'scss/functions' as *;
@use 'scss/mixins' as *;

.quantity-form,
character-view-explosive-attacks {
  border-bottom: 2px groove var(--ep-color-border);
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  --mdc-icon-button-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  input {
    all: unset;
    font-family: var(--font-1);
    width: 4ch;
    text-align: center;
    color: var(--ep-color-text);
    border-bottom: 1px solid var(--ep-color-border);
    &:focus {
      border-color: var(--ep-color-secondary);
    }
    &[disabled] {
      color: var(--ep-color-text-disabled);
      pointer-events: none;
      border: none;
    }
  }
}
