@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

sl-form {
  grid-auto-flow: column;
  padding: 0 0.5rem;

  mwc-formfield {
    place-self: center;
  }
  input {
    background: transparent;
    font-family: var(--font-1);
    border: none;
    flex: 1;
    padding: 0.25rem 1rem;
    font-size: 1.2rem;
    color: var(--color-text);
    &::placeholder {
      text-transform: capitalize;
    }
    &:focus {
      outline: none;
    }
  }
}

.skills-header {
  display: grid;
  align-items: center;
  margin-top: 0.25rem;
  padding-top: 0.25rem;
  gap: 2px;
  grid-template-areas:
    "active know creator"
    "info info info";

  .creator {
    grid-area: creator;
    place-self: center;
    --mdc-theme-primary: var(--color-secondary);
  }

  .group {
    display: flex;
    .label {
      display: inline-block;
      transform: translateY(3px);
      margin-right: 4px;
      margin-left: auto;
      font-size: 12px;
      text-transform: uppercase;
      color: var(--color-text-lighter);
      &::after {
        content: ":";
      }
    }
  }

  .skill-totals {
    &.know {
      grid-area: know;
    }
    &.active {
      grid-area: active;
    }
  }

  .skills-info {
    grid-area: info;
  }

  .total-number {
    min-width: 4.5ch;
  }
  
}
