@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

sl-form {
  grid-auto-flow: column;
  padding: 0 0.5rem;

  mwc-formfield {
    place-self: center;
  }
  input {
    background: transparent;
    font-family: var(--font-1);
    border: 1px solid var(--color-border);
    flex: 1;
    padding: 0.25rem;
    font-size: 1rem;
    color: var(--color-text);
    width: calc(100% - 1rem);
    border-radius: 3px;
    &::placeholder {
      text-transform: capitalize;
    }
    &:focus {
      outline: none;
      border-color: var(--color-grey);
      background: var(--color-bg);
    }
  }
}


header {
  position: sticky;
  top: 0;
  background: linear-gradient(to right, var(--color-bg), var(--color-bg-alt));
  padding: 0.5rem 1.5rem;
  z-index: 1;
  display: grid;
  grid-template-areas:
  "totals add"
  "controls controls";
  gap: 0.25rem;
  box-shadow: 0 0 4px black;

}

.add-field-button {
  grid-area: add;
  --mdc-theme-primary: var(--color-secondary);
}

.totals {
  display: flex;
  padding: 0 0.25rem;
  font-size: large;
  grid-area: totals;
  .skill-count {
    grid-area: count;
  }
  .group {
    grid-area: group;
  }

  .points-label {
    grid-area: points;
  }

  .skill-count,
  .points-label {
    color: var(--color-text-lighter);
  }

  .points {
    color: var(--color-text);
    display: inline-block;
    min-width: 3ch;
  }
}

.controls {
  --mdc-icon-button-size: 2rem;
  display: grid;
  grid-template-columns: min-content 1fr repeat(2, 85px);
  align-items: center;
  grid-area: controls;
  > span {
    place-self: center;
    font-size: larger;
  }
  .total-label {
    position: relative;
    .edit-toggle {
      position: absolute;
      --mdc-icon-size: 20px;
      transition: color 200ms;
      &.active {
        color: var(--color-secondary);
      }
    }
  }
}