@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: inline-block;

  ::slotted(*) {
    pointer-events: none;
  }

  ::slotted([slot='after']) {
    align-self: start;
    margin-left: 1ch;
    color: var(--color-text-lighter);
  }
}

:host([disabled]) {
  pointer-events: none;
}

wl-list-item {
  padding: 0.125rem 0.5rem;
  border: 1px solid;
  height: 100%;
}

.info {
  --list-item-bg: #{alphav(var(--color-grey), 0.15)};
  --list-item-bg-hover: #{alphav(var(--color-grey), 0.25)};
  border-color: alphav(var(--color-grey), 0.35);
}

.usable {
  padding: 0.125rem 0.5rem;
  --list-item-bg: #{alphav(var(--color-secondary), 0.15)};
  --list-item-bg-hover: #{alphav(var(--color-secondary), 0.25)};
  border-color: alphav(var(--color-secondary), 0.3);
}

.attack {
  --list-item-bg: #{alphav(var(--color-negative), 0.25)};
  --list-item-bg-hover: #{alphav(var(--color-negative), 0.35)};
  border-color: alphav(var(--color-negative), 0.5);
}
