@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
  background: linear-gradient(
    to bottom,
    alphav(var(--ep-color-bg), 0.7),
    alphav(var(--ep-color-bg-alt), 0.7)
  );
  min-width: 350px;
  width: 100%;

  > *:not(h2):not(submit-button) {
    border-left: 3px solid var(--ep-color-border);
    &:hover {
      border-left-color: alphav(var(--ep-color-grey), 0.5);
    }
    &:focus-within {
      border-left-color: var(--ep-color-grey);
    }
    & + * {
      margin-top: 0.5rem;
    }
  }
}

h2 {
  margin: 0;
  text-align: center;
}

.area-effect {
  @include inputReset();
  padding: 0.25rem 0.5rem;
  p {
    margin: 0;
    color: var(--ep-color-text-lighter);
    font-size: small;
  }
  sl-form {
    display: contents;
  }
  input {
    text-align: center;
  }
}

.demolition {
  sl-form {
    grid-auto-flow: column;
  }
}

.template {
  display: flex;
  align-items: center;
  font-size: large;
  padding: 0 1rem;
  --mdc-theme-primary: var(--ep-color-grey);

  > div {
    flex: 1;
  }
  > * + * {
    margin-left: 0.5ch;
  }
}

.targets {
  padding: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: large;
  min-height: 40px;
  --mdc-icon-button-size: 2rem;
  position: relative;
  sl-animated-list {
    display: contents;
  }
  > *,
  sl-animated-list > * {
    display: block;
    margin: 0.25rem 0.25rem 0.25rem 0;
  }
}

.proximity-form {
  grid-template-columns: 1fr 1fr;
}

// .settings-form {
//   height: 200px;
//   width: 275px;
//   padding: 0 0.5rem;
// }

// submit-button {
//   margin-top: auto;
// }
