@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: column;
  padding: 0.5rem 1rem;
  background: linear-gradient(
    to bottom,
    alphav(var(--color-bg), 0.7),
    alphav(var(--color-bg-alt), 0.7)
  );
  > * + * {
    margin-top: 0.25rem;
  }
}

h2 {
  margin: 0;
  text-align: center;
}

.area-effect {
  @include inputReset();
  padding: 0 0.5rem;
  p {
    margin: 0;
    color: var(--color-text-lighter);
  }
  sl-form {
    display: contents;
  }
  input {
    text-align: center;
  }
  
}

.template {
  display: flex;
  align-items: center;
  font-size: large;
  padding: 0 1rem;
  --mdc-theme-primary: var(--color-grey);
  > div {
    flex: 1;
  }
  > * + * {
    margin-left: 0.5ch;
  }
}

.targets {
  padding: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: large;
  min-height: 40px;
  --mdc-icon-button-size: 2rem;
  position: relative;
  sl-animated-list {
    display: contents;
  }
  > *,
  sl-animated-list > * {
    display: block;
    margin: 0.25rem 0.25rem 0.25rem 0;
  }
}

// .settings-form {
//   height: 200px;
//   width: 275px;
//   padding: 0 0.5rem;
// }

// submit-button {
//   margin-top: auto;
// }


