@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-auto-rows: min-content;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: none;
  border-right-width: 1px;
  border-left: none;
  overflow: hidden;
  min-width: 350px;
}

header {
  padding: 0.5rem 1rem;
  background: alphav(var(--color-grey), 0.1);
  border-bottom: 1px solid var(--color-border);
  button {
    all: unset;
    border-bottom: 1px solid var(--color-border);
    font-family: var(--font-2);
    @include truncate(350px);
    font-size: 1rem;
    margin-right: 0.25ch;

    &:hover,
    &:focus {
      cursor: pointer;
      border-bottom-color: var(--color-text-lighter);
    }
  }
  .details {
    color: var(--color-text-lighter);
    @include truncate(100%);
  }
}

.pools {
  display: flex;
  justify-content: space-evenly;
}

health-item {
  --health-item-padding: 0.3rem 1rem;
}

// .movement,
.armor {
  &:hover {
    background: alphav(var(--color-text), 0.06);
  }
  &:focus {
    background: alphav(var(--color-text), 0.08);
    outline: none;
  }
  &:active {
    background: alphav(var(--color-text), 0.1);
  }
}

.movement {
  padding: 0.15rem 1rem 0.35rem;
  display: grid;
  grid-template-areas:
    'label info'
    'rates rates';
  .label {
    font-size: large;
    margin-left: 0.5rem;
    grid-area: label;
  }
  .rates {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 0.25rem;
    grid-area: rates;
  }
  .info {
    grid-area: info;
  }
  .movement-rate {
    text-align: center;
    background: alphav(var(--color-bg-alt), 0.75);
    white-space: nowrap;
    flex: 1;
  }
  .rate {
    color: var(--color-text-lighter);
    margin-right: 0.5ch;
  }
}

.armor {
  display: grid;
  grid-template-areas:
    'label info'
    'values values';

  grid-template-columns: 1fr 1fr;
  padding: 0.25rem 1rem 0.35rem;
  cursor: pointer;
  .label {
    grid-area: label;
    font-size: large;
    white-space: nowrap;
    margin: 0 0 0 0.5rem;
  }
  .info {
    grid-area: info;
    color: var(--color-text-lighter);
    align-self: end;
    justify-self: end;
    margin-right: 0.5rem;
  }
  .layers {
    color: var(--color-text-lighter);
    font-size: 1rem;
  }
  .values {
    grid-area: values;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 0.25rem;
    .rating {
      text-align: center;
      background: alphav(var(--color-bg-alt), 0.75);
      white-space: nowrap;
      .value {
        color: var(--color-text-lighter);
      }
      &.reduced {
        color: lightv(var(--color-negative), 1.5);
      }
    }
  }
}

.conditions {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.conditions-form {
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem
}

.conditions-toggle {
  z-index: 0;
}