@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-auto-rows: min-content;
  z-index: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.healths {
  flex: 1;
}

header {
  padding: 0.25rem 0.75rem 0;

  .name {
    all: unset;
    font-size: larger;
    display: inline-block;
    margin-right: 0.25ch;

    &:hover,
    &:focus {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .info {
    color: var(--color-text-lighter);
    font-family: var(--font-2);
    font-size: small;
  }
}

.movement {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-left: -0.25rem;
  padding: 0 0.5rem 0.25rem;
  @include textButton();

  .mod,
  .movement-rate {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    margin: 0.15rem 0 0.15rem 0.25rem;
    padding: 0 0.5rem;
    border-radius: 3px;
    flex: 1;
  }
  .mod {
    background: alphav(var(--color-negative), 0.2);
    border: 1px solid alphav(var(--color-negative), 0.25);
  }

  .movement-rate {
    background: alphav(var(--color-grey), 0.2);
    border: 1px solid alphav(var(--color-grey), 0.25);
    .rate {
      color: var(--color-text-lighter);
      margin-right: 0.5ch;
    }
  }
}

.armor {
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  &:hover {
    background: alphav(var(--color-text), 0.06);
  }
  &:focus {
    background: alphav(var(--color-text), 0.08);
    outline: none;
  }
  &:active {
    background: alphav(var(--color-text), 0.1);
  }

  // &.multi-row {
  //   .values {
  //     display: block;
  //     column-count: 3;
  //   }
  // }

  .values {
    grid-area: values;
    // margin-left: -1.25rem;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    column-gap: 0.5ch;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    .rating {
      break-inside: avoid;
      page-break-inside: avoid;
      flex: 1;
      margin: 0.25rem;
      // width: 100%;
      // display: inline-block;
      // text-align: center;
      display: inline-flex;
      justify-content: space-between;
      white-space: nowrap;
      // margin: 0.15rem 0 0;
      padding: 0 0.5rem 0 0.25rem;
      border-radius: 3px;
      background: alphav(var(--color-grey), 0.4);
      border: 1px solid alphav(var(--color-grey), 0.45);
      text-shadow: 0 0 3px black;

      img {
        opacity: 0.7;
      }
      .value {
        color: var(--color-text-lighter);
      }

      .label {
        flex: 1;
        margin: 0 0.25rem;
      }

      &.reduced {
        .value {
          color: lightv(var(--color-negative), 1.75);
        }
      }
      &.info {
        background: alphav(var(--color-border), 0.45);
        border: 1px solid alphav(var(--color-border), 0.75);
        padding: 0 0.5rem;
      }
    }
  }
}

.healths {
  &.multiple {
    // --health-item-padding: 0.25rem 0.5rem;
    padding-top: 0.25rem;
    & + .movement {
      padding-top: 0.25rem;
    }
  }
}

.conditions {
  display: flex;
  align-items: center;
  --mdc-theme-primary: var(--color-grey);
  padding: 0.25rem;
  .conditions-list {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
  }
  @include textButton();
  button {
    position: relative;
  }
  notification-coin {
    right: -2px;
    top: -75%;
    --coin-bg: var(--color-border);
  }
  img {
    opacity: 0.25;
    transition: opacity 300ms;
    display: block;
    pointer-events: none;
    &.active {
      opacity: 1;
    }
  }
}

.pools {
  display: flex;
  justify-content: space-evenly;
}
