@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-auto-rows: min-content;
  overflow: hidden;
  min-width: 350px;
  border: 1px groove var(--color-border);
  background: linear-gradient(
    45deg,
    alphav(var(--color-bg), 0.75),
    alphav(var(--color-bg-alt), 0.75)
  );
}

header {
  position: relative;
  padding: 0.25rem 0.75rem;
  text-shadow: 0 0 4px black;

  .name {
    all: unset;
    font-size: larger;
    display: block;
    margin-right: 0.25ch;

    &:hover,
    &:focus {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .info {
    display: block;
    color: var(--color-text-lighter);
    font-family: var(--font-2);
    font-size: small;
  }

}

.armor {
  &:hover {
    background: alphav(var(--color-text), 0.06);
  }
  &:focus {
    background: alphav(var(--color-text), 0.08);
    outline: none;
  }
  &:active {
    background: alphav(var(--color-text), 0.1);
  }
}

.movement {
  padding: 0.25rem 0.5rem;
  .info {
    float: right;
  }
  .mod,
  .movement-rate {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 0.25rem;
    padding: 0 0.5rem;
    border-radius: 3px;

  }
  .mod {
    background: alphav(var(--color-negative), 0.2);
    border: 1px solid alphav(var(--color-negative), 0.25);
    & + .mod {
      margin-left: 0.5rem;
    }
  }

  .movement-rate {
    background: alphav(var(--color-grey), 0.1);
    border: 1px solid alphav(var(--color-grey), 0.15);
    .rate {
      color: var(--color-text-lighter);
      margin-right: 0.5ch;
    }
  }

}

.armor {

  padding: 0 0.25rem;;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 0;
  img {
    display: block;
    // position: absolute;
    // left: 0;
    z-index: 0;
    opacity: 0.8;
  }

  .values {
    grid-area: values;
    z-index: 1;
    margin-left: -1.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px , 1fr));

    column-gap: 0.5ch;
    flex: 1;
    .rating {
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      margin-bottom: 0.25rem;
      padding: 0 0.5rem;
      border-radius: 3px;
      background: alphav(var(--color-grey), 0.4);
      border: 1px solid alphav(var(--color-grey), 0.45);
      text-shadow: 0 0 3px black;
      .value {
        color: var(--color-text-lighter);
      }
      &.reduced {
        .value {
          color: lightv(var(--color-negative), 1.75);
        }
      }
      &.info {
        background: alphav(var(--color-border), 0.45);
        border: 1px solid alphav(var(--color-border), 0.75);
      }
    }
  }

}
