@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.push-button,
.use-button {
  --mdc-theme-primary: var(--ep-color-primary-alt);
}

.end-button {
  --mdc-theme-primary: var(--ep-color-secondary);
}

.effects {
  display: flex;
  flex-flow: row wrap;
  > * {
    margin: 0.125rem;
  }
}
