@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-auto-rows: min-content;
  gap: 1rem;
}

sl-header {
  padding: 0 0.5rem;
}

sl-animated-list {
  padding: 0.1rem 0;
  --mdc-linear-progress-buffer-color: var(--color-border);
  max-width: 450px;
  position: relative;
}

.accumulated {
  margin-left: 1rem;
  padding: 0.25rem;
  border-left: 1px solid var(--color-grey);
  display: flex;
}

.task-actions {
  position: relative;
  li {
    display: grid;
    align-items: center;
    padding: 0.25rem 1rem;
    grid-template-areas:
      'name more'
      'prog prog'
      'adv adv';

    .ready {
      color: var(--color-secondary);
      font-weight: bold;
    }

    .remaining {
      color: var(--color-text-lighter);
      text-transform: lowercase;
    }

    .name {
      all: unset;
      grid-area: name;
      &:hover {
        text-shadow: var(--text-highlight);
      }
      &[disabled] {
        pointer-events: none;
      }
    }

    mwc-linear-progress {
      grid-area: prog;
    }

    mwc-icon-button,
    delete-button {
      grid-area: more;
      --mdc-icon-button-size: 30px;
      justify-self: end;
    }
    .advance-form {
      grid-area: adv;
      grid-template-columns: 1fr 1fr;
      padding: 0.25rem 0;
      @include animate-css(fadeIn, 300ms);
    }
  }
}

character-view-time-item {
  @include textButton();
}

.heal-recoveries {
  margin: 0.5rem;
  figcaption {
    color: var(--color-text-lighter);
  }
}
