@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

:host([collapsed]) {
  height: min-content;
}

sl-dropzone {
  height: 100%;
  &[ready],
  &[outlined] {
    [part='header'] {
      z-index: -1;
    }
  }
}

.proxy-list {
  display: grid;
  grid-auto-rows: min-content;
  position: relative;
  padding: 0.25rem 0;
  &[hidden] {
    display: none;
  }
}

[part='header'] {
  position: relative;
  outline: none;
  &[tabindex='0'] {
    cursor: pointer;
  }
  mwc-ripple {
    cursor: pointer;
  }
}

.toggle-icon {
  display: inline-block;
  --mdc-icon-size: 1.75rem;
  transition: transform 100ms ease-in-out;
  color: var(--color-text-lighter);

  &.collapsed {
    transform: rotateZ(90deg);
  }
}

.sort-toggle {
  --mdc-icon-size: 1.5rem;
  --mdc-icon-button-size: 1.75rem;
  color: var(--color-text-lighter);
  opacity: 0;
  animation-delay: 150ms;
  &:not(.no-animation) {
    @include animate-css(fadeIn, 300ms);
  }
  &.active {
    color: var(--color-secondary);
  }
}
