@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  height: min-content;
}

sl-dropzone {
  height: 100%;
}

.proxy-list {
  display: grid;
  grid-auto-rows: min-content;
  position: relative;

}

[part='header'] {
  position: relative;
  outline: none;
  &[tabindex='0'] {
    cursor: pointer;
  }
  mwc-ripple {
    cursor: pointer;
  }
}
