@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  height: min-content;
}

sl-dropzone {
  height: 100%;
}

.proxy-list {
  display: grid;
  grid-auto-rows: min-content;
  position: relative;
  &[hidden] {
    display: none;
  }
}

[part='header'] {
  position: relative;
  outline: none;
  &[tabindex='0'] {
    cursor: pointer;
  }
  mwc-ripple {
    cursor: pointer;
  }
}

.toggle-icon {
  display: inline-block;
  --mdc-icon-size: 1.75rem;
  transition: transform 100ms ease-in-out;
  &.collapsed {
    transform: rotateZ(90deg);
  }
}
