@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  padding: 0.25rem 0.5rem;
}

sl-group {
  align-items: center;
}

.resist {
  --mdc-theme-primary: var(--ep-color-primary-alt);
}

.apply {
  --mdc-theme-primary: var(--ep-color-grey);
}

.item-action {
  border-top: 1px solid var(--ep-color-border);
  padding-top: 0.125rem;
  margin-top: 0.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.applied-to {
  padding: 0;
  display: inline-flex;
  mwc-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: alphav(var(--ep-color-bg), 0.25);
    display: none;
    color: lightv(var(--ep-color-negative), 1.5);
    border-radius: 100%;
  }
  &[clickable]:hover {
    mwc-icon {
      display: block;
      @include animate-css(fadeIn, 200ms);
    }
  }
}

.action-taken {
  margin: 0.125rem;
  color: var(--ep-color-text-lighter);
}
