@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.detail-forms {
  padding: 0.5rem 0 0;
}

.quantity-form {
  grid-template-columns: 1fr 1fr;
  > * {
    width: min-content;
    & + * {
      justify-self: end;
    }
  }
}

.application-methods {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;;
  gap: 0.5rem;
  padding: 0.5rem;
  position: relative;
  .method {
    list-style: none;
    display: inline-block;
    padding: 0.15rem 0.5rem;
    background: var(--color-border);
    border-radius: 7px;
  }
}


.effect-details {
  display: grid;
  padding: 0.25rem;
  sl-group {
    font-size: large;
  }
}

p.label {
  @include listLabel();
  margin-bottom: 0.25rem;
}


.severity-header {
  text-transform: capitalize;
}

item-form-effects-list {
  margin: 0.25rem 0;;
}

li {
  list-style: none;
}

.item-list {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  

  li:not(.label) {
    margin-left: 0.5ch;
    display: inline-flex;
    button {
      all: unset;
      &:hover,
      &:focus {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
