@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  padding: 0.25rem 0.5rem;
}

p {
  margin: 0;
  text-align: center;
  .falloff {
    color: var(--ep-color-text-lighter);
  }
}

.shaped {
  font-size: small;
  color: var(--ep-color-text-lighter);
}

.template {
  margin-top: 2px;
  display: flex;
  align-items: center;
  --mdc-icon-size: 1rem;
  --mdc-icon-button-size: 1.25rem;
  mwc-icon-button {
    height: 1.25rem;
  }
  float: right;
  color: var(--ep-color-grey);
}

.targets {
  padding: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  --mdc-icon-size: 1rem;
  --mdc-icon-button-size: 1.25rem;
  position: relative;
  sl-animated-list {
    display: contents;
  }
  > *,
  sl-animated-list > * {
    display: block;
    margin: 0.25rem 0.25rem 0.25rem 0;
  }
}

.remaining-time {
  text-align: center;

  .time {
    color: var(--ep-color-text-lighter);
  }
}
