@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  padding: 0.25rem 0.5rem;
}

p {
  margin: 0;
  text-align: center;
  .falloff {
    color: var(--color-text-lighter);
  }
}

.shaped {
  font-size: small;
  color: var(--color-text-lighter);
}