@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 1rem;
  height: calc(100% - 1px);
  max-width: 394px;
  min-width: 100%;
}

li[divider] {
  border-color: var(--color-border);
}

.item {
  height: 30px;
}

.item-type {
  color: var(--color-text-lighter);
}

.controls {
  position: sticky;
  bottom: -1px;
  height: calc(100% + 1px);
  background: var(--color-bg);
  margin-top: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border-top: 2px solid var(--color-border);

  submit-button {
    margin-left: auto;
  }
}

[slot='action'] {
  margin-right: 1ch;
}

.current-sleeve,
.selected-sleeve {
  max-width: 400px;
  min-width: 100%;
}

.tests {
  display: flex;
  flex-flow: row wrap;
  > * {
    flex-grow: 1;
    margin: 0.25rem 0.5rem;
  }
}

.stress-form {
  display: grid;
}
.start-stress-test {
  --mdc-theme-primary: var(--color-negative);
  margin: 0.25rem 0;
}

.exoskeleton-message {
  margin: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
