@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  gap: 0.25rem;
  min-width: 325px;
  sl-form {
    padding: 0 0.5rem;
    .radio-fields {
      justify-content: flex-start !important;
    }
  }
}

sl-popover {
  width: 100%;
  mwc-button {
    width: 100%;
  }
  
}

.healths {
  min-width: 350px;
}

mwc-tab-bar {
  --mdc-theme-primary: var(--color-grey);

}

mwc-list-item {
  border-bottom: 1px solid var(--color-border);

}