@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: block;
  
}

figure {
  margin: 0.5rem 1rem;
  figcaption {
    font-size: large;
    color: var(--color-text-lighter);
  }
}