@use 'scss/functions' as *;
@use 'scss/mixins' as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-auto-rows: min-content;
  gap: 0.25rem;
}

.dot-creator {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--ep-color-border);
  grid-template-columns: 1fr;
  :nth-child(3n),
  submit-button {
    grid-column: span 2;
  }
}

.dot-toggle {
  &.active {
    color: var(--ep-color-secondary);
  }
}

.heal-damage {
  width: calc(100% - 2rem);
  margin: -0.25rem 1rem 0;
}

health-state-form {
  margin: 0 1rem;
}

figure {
  margin: 0.5rem 1rem;
  figcaption {
    font-size: large;
    color: var(--ep-color-text-lighter);
  }
}

.conditions-button {
  --mdc-theme-primary: var(--ep-color-grey);
}

.heal {
  &.ready {
    box-shadow: 0 0 4px var(--ep-color-secondary);
  }
}
