@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  padding: 0 0.2rem;
}

character-view-time-item {
  padding: 0;
}


.active-substance-actions {
  > * {
    margin: 0.25rem 0 0;
  }

  .damage {
    --mdc-theme-primary: var(--color-negative);
  }
}
