@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  padding: 0.25rem 0.5rem 0.5rem;
  background: var(--color-bg-alt);
  border: 1px groove transparent;
  border-left: 2px solid var(--color-grey);
  box-shadow: 1px 0 5px black;
  // filter: drop-shadow(2px 4px 6px black);
}

time-state-item {
  padding: 0;
}

.name {
  height: 2rem;
  --mdc-list-item-graphic-margin: 0.5rem;
  padding: 0 0.25rem;
  border-bottom: 1px solid var(--color-border);
  font-size: large;
  [slot='meta'] {
    color: var(--color-text);
  }
  mwc-icon-button {
    pointer-events: all;
    --mdc-icon-button-size: 1.5rem;
  }
}

.active-substance-actions {
  > * {
    margin: 0.5rem 0 0;
  }

  > span {
    line-height: 2rem;
  }

  .damage {
    --mdc-theme-primary: var(--color-negative);
  }

  .mods {
    float: right;
    --mdc-theme-primary: var(--color-grey);
    ul {
      padding-right: 1.5rem;
    }
  }
  .severe-effects {
    @include textButton();
    display: inline-grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
    gap: 0.5ch;
    button {
      border: 1px solid var(--color-border);
    }
  }
}

.finished {
  padding: 0.3rem 0;
}

.remove {
  &.ready {
    @include animate-css(pulse, 1s, infinite);
    color: var(--color-secondary);
  }
}

.multi-time {
  padding: 0.25rem 0;
  &.finished {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.no-substances-message {
  margin: 0.5rem 1rem;
}
