@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  
}

character-view-time-item {
  padding: 0;
}


.active-substance-actions {
  > * {
    margin: 0.15rem 0;
  }

  .damage {
    color: var(--color-negative);
  }
}
