@use "scss/functions" as *;
@use "scss/mixins" as *;

@include styled-scrollbars;
@include widgetless-number-inputs;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-template-areas:
    'header header'
    'side tab-bar'
    'side content';
  grid-template-columns: 400px 1fr;
  min-width: 100%;
  width: 800px;
  min-height: 500px;
  height: max-content;
  background: linear-gradient(
    45deg,
    alphav(var(--color-grey), 0.1),
    alphav(var(--color-grey), 0.06)
  );
  grid-template-rows: repeat(2, min-content) 1fr;
}

character-view-header {
  grid-area: header;
  z-index: 1;
}

.side {
  grid-area: side;
  display: grid;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 150px);
  min-height: 100%;
  background: rgba(black, 0.03);
  character-view-ego {
    padding: 0.5rem 0;
  }

  character-view-sleeve {
    background: rgba(black, 0.09);
    margin-top: auto;
    border-top: 1px solid alphav(var(--color-border), 0.5);
  }

  .sleeve-select {
    padding: 0.5rem;
    display: grid;
    place-items: center;
    border-top: 1px solid var(--color-border);
  }
}

.tabbed-content {
  display: flex;
  flex-flow: column;
  grid-area: content;

  height: 200px;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.25rem 0;
  padding-left: 0;
  border-top: 1px solid var(--color-border);
  margin-top: -1px;
  background: rgba(black, 0.09);

  > * {
    @include animate-css(fadeIn, 500ms);
    animation-fill-mode: none !important;
  }
}

mwc-tab-bar {
  grid-area: tab-bar;
  background: rgba(black, 0.03);
  padding: 0 0.05rem;
  --mdc-theme-primary: var(--color-grey);
  --mdc-tab-height: calc(50px - 0.5rem);
}

.drawer {
  grid-area: side;
  display: none;
  grid-template-areas: 'content';
  grid-template-rows: 1fr;
  > * {
    grid-area: content;
  }
  background: linear-gradient(45deg, var(--color-bg), var(--color-bg-alt));
  height: 300px;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateX(-100%);

  &.open,
  &.closing {
    display: grid;
  }

  &.open {
    @include animate-css(slideInLeft, 400ms);
  }

  &.closing {
    @include animate-css(slideOutLeft, 400ms);
  }

  .close-drawer {
    margin-left: auto;
    padding: 0.25rem;
    width: min-content;
    background: alphav(var(--color-border), 0.8);
    box-shadow: -1px 1px 2px black;
    position: sticky;
    top: 1px;
    z-index: 10;
    color: var(--color-text-lighter);
    align-self: baseline;
    --mdc-icon-size: 1rem;
    &:hover,
    &:focus-within {
      color: var(--color-text);
    }
  }
}

.item-lists {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
