@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  gap: 0.25rem;
  padding: 0.25rem 1rem;

}

h4 {
  margin: 0;
  font-weight: normal;
}

.damage-roll {
  color: var(--color-negative)
}