@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0.25rem 1rem;
  > * {
    margin-right: 0.25ch;
  }
}