@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-template-areas:
    'icon cause goals-toggle goals-add delete'
    'goals goals goals goals goals';

  column-gap: 0.25rem;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: min-content;
  align-items: center;
  --mdc-icon-button-size: 2rem;
  padding: 0.25rem 0;
}

mwc-icon-button-toggle {
  grid-area: icon;
  color: var(--ep-color-negative);
  --mdc-theme-text-disabled-on-light: currentColor;
  &[on] {
    color: var(--ep-color-secondary);
    filter: hue-rotate(-30deg);
  }
}

.new-goal-button {
  grid-area: goals-add;
}

.goals-toggle {
  grid-area: goals-toggle;
  --mdc-theme-primary: var(--ep-color-grey);
  min-width: 115px;
}

.cause-form {
  grid-area: cause;
}

input {
  background: transparent;
  font-family: var(--font-1);
  border: 1px inset var(--ep-color-border);
  font-size: 1rem;
  color: var(--ep-color-text);
  &:focus {
    border-color: var(--ep-color-secondary);
    outline: none;
  }
  &[disabled] {
    color: var(--ep-color-text-disabled);
  }
}

.delete-self-button {
  grid-area: delete;
}

.goal-form {
  display: contents;
}

.goals-list {
  grid-area: goals;
  margin: 0.25rem 0;
  li {
    padding: 0 1.5rem;
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 0.25rem;
    align-items: center;
    mwc-checkbox {
      height: 36px;
      position: relative;
      top: -6px;
    }
  }
}
