@use 'scss/functions' as *;
@use 'scss/mixins' as *;

@include resetUnorderedList();
@include dataComma();
@include listItemLabel();

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

li {
  list-style: none;
  margin-right: 1ch;
}

.movement-list {
  margin: 0.25rem 0.5rem;
  display: flex;
  flex-flow: row wrap;
}

.movement-rate {
  @include textButton();
  sup {
    vertical-align: text-top;
    margin-left: 0.25ch;
    color: satv(var(--ep-color-grey), 1.2);
  }
}
