@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

li {
  list-style: none;
  margin-right: 1ch;
}

.label {
  text-transform: uppercase;
  color: var(--color-text-lighter);
  letter-spacing: 0.5px;
}

.movement-list {
  margin: 0.25rem 0.5rem;
  display: flex;
  flex-flow: row wrap;
}

.movement-rate {
  button {
    all: unset;
    &:hover {
      cursor: pointer;
      color: satv(var(--color-secondary), 1.2);
    }
    &:focus {
      text-shadow: var(--text-highlight);
    }
  }
  sup {
    vertical-align: text-top;
    margin-left: 0.25ch;
    color: satv(var(--color-grey), 1.2);
  }
}
