@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

hr {
  width: 100%;
  border-color: var(--color-border);
}

@include itemAddon();

.attack-details {
  display: grid;
  padding: 0.25rem;
  font-size: large;
}

p.label {
  @include listLabel();
  margin-bottom: 0.25rem;
}

.ammo-form {
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0.5rem 0;
}

.ammo-mode-settings {
  margin-top: -0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}

.available-shots {
  display: inline-block;
  min-width: 2ch;
}

.shape-name-form {
  @include inputReset();
  mwc-formfield {
    --mdc-theme-text-primary-on-background: var(--color-text-lighter);
  }
}

.shapes {
  display: flex;
  flex-flow: row wrap;
  padding: 0.25rem;
  position: relative;
}

.shape {
  --list-item-bg: #{alphav(var(--color-grey), 0.25)};
  --list-item-padding: 0.25rem 0.5rem;
  border-radius: 7px;
  margin-right: 0.25rem;
}
