@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

hr {
  width: 100%;
  border-color: var(--color-border);
}

@include itemAddon();

.attack-details {
  display: grid;
  padding: 0.25rem;
  font-size: large;
}

p.label {
  @include listLabel();
  margin-bottom: 0.25rem;
}

.ammo-form {
  grid-template-columns: 2fr 1fr 1fr;
  padding: 0.5rem 0;
}

.ammo-mode-settings {
  margin-top: -0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr auto auto;
  align-items: center;
}

.available-shots {
  display: inline-block;
  min-width: 2ch;
}
