@use 'scss/functions' as *;
@use 'scss/mixins' as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.group-toggles {
  display: flex;
  flex-flow: row wrap;
  --mdc-shape-small: 1rem;
  --mdc-button-outline-width: 2px;
  --mdc-theme-primary: #{alphav(var(--ep-color-negative), 0.8)};
  --mdc-theme-primary: var(--ep-color-grey);
  --mdc-theme-on-primary: var(--ep-color-bg);
  padding: 0.125rem 0.5rem;
  > * {
    margin-bottom: 0.125rem;
    margin-right: 0.125rem;
  }
}

.physical-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  padding: 0.125rem 0.5rem 0.5rem;
}

.attacks {
  column-width: 350px;
  position: relative;
  gap: 0;
  > * {
    align-self: start;
    margin: 0 0.25rem 0.25rem;
    box-shadow: -1px 0px 6px 1px black;
    break-inside: avoid;
    page-break-inside: avoid;

    &:not([expanded]) {
      background: alphav(var(--ep-color-grey), 0.06);
      border-top: 2px solid var(--ep-color-border);
      padding: 0.25rem 0;
    }
    &[expanded] {
      margin: 0.5rem 0.375rem;
      background: lightv(var(--ep-color-bg-alt), 1.1);
      border: 2px solid alphav(var(--ep-color-grey), 0.5);
      border-radius: 0.25rem;
    }
  }
}
