@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

.physical-info {
  padding: 0.125rem 0.5rem 0.25rem;
}

.attacks {
  display: grid;
  position: relative;
  padding: 0.125rem 0;
  gap: 0.125rem;
  > * {
    margin: 0.25rem;
    box-shadow: -1px 0px 5px 1px black;
    &:not([expanded]) {
      background: alphav(var(--color-text), 0.03);
      border-top: 2px solid var(--color-border);
      padding: 0.25rem 0;
    }
  }
}

.group-toggles {
  padding: 0.125rem 0.25rem;
  > * {
    margin-bottom: 0.25rem;
  }
}
