@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}


.activation-form {
  padding: 0.5rem 0 0;
  grid-template-columns: 1fr auto;
}

.effect-group-form {
  margin-bottom: 0.25rem;
}