@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-auto-rows: min-content;
  gap: 1rem;
}

li[divider] {
  border-color: var(--color-border);
}

h2 {
  @include boldHeading();
}

.item {
  height: 30px;
}

.item-type {
  color: var(--color-text-lighter);
}

.controls {
  margin-top: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border-top: 2px solid var(--color-border);

  submit-button {
    margin-left: auto;
  }
}


[slot="action"] {
  margin-right: 1ch;
}