@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  
}

li[divider] {
  border-color: alphav(var(--color-border), 0.5);
  &:last-child {
    display: none;
  }
}

mwc-list-item {
  mwc-icon {
    color: var(--color-grey)
  }
}
