@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-template-areas:
    'scene time app-controls'
    'nav time chat'
    'controls .. chat'
    '.. .. chat';

  grid-template-columns: 1fr auto auto;

  grid-template-rows: repeat(3, min-content) 1fr;

  // grid-auto-rows: min-content;

  padding-left: 1rem;

  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 30;
  pointer-events: none;

  transition: opacity 250ms ease-in-out;
  opacity: 0;
  ::slotted(*) {
    pointer-events: initial;
  }

  ::slotted(mwc-dialog:not([open])) {
    pointer-events: none;
  }
}

mwc-dialog {
  z-index: 100000;
  pointer-events: all;
  > * {
    pointer-events: all;
  }
}

scene-view {
  grid-area: scene;
}

world-time-controls {
  grid-area: time;
  align-self: baseline;
  margin: 0.5rem;
}

.nav-wrapper {
  grid-area: nav;
}
.controls-wrapper {
  grid-area: controls;
  margin-top: 1rem;
}

.foundry-app-controls {
  grid-area: app-controls;
  place-self: center;
}

.chat-wrapper {
  grid-area: chat;
  padding-top: 0.5rem;
}

:host([faded]) {
  opacity: 0.07 !important;
  z-index: 0 !important;
  * {
    pointer-events: none !important;
  }
  ::slotted(*) {
    pointer-events: none !important;
  }
}

:host([ready]) {
  opacity: 1;

  .controls-wrapper {
    opacity: 1;
  }
}

slot[name='foundry-apps'],
slot#windows {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 40;
  overflow: hidden;

  &.top {
    z-index: 45;
  }
}

.foundry-app-controls {
  display: grid;
  grid-auto-flow: column;
  align-items: flex-start;
  justify-items: center;
  grid-auto-columns: 28px;
  display: flex;
  margin: 0.5rem 0 0;
  pointer-events: initial;
  padding: 0;
  --list-item-padding: 2px;
  --list-item-border-radius: 0px;
  --list-item-bg: transparent;
  --list-item-bg-hover: var(--color-primary);
  ::slotted(*) {
    height: 33px;
    width: 28px;
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 2px 3px black;
  }
  ::slotted(.active) {
    color: satv(var(--color-secondary), 1.4);
    font-size: 18px;
  }
}

.menu-toggle {
  --list-item-bg-hover: var(--color-foundry);
  align-self: center;
  margin-left: 1rem;
}

.chat-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto min-content;
  grid-template-areas:
    'header'
    'log'
    'sender'
    'form'
    'controls';
  max-height: calc(100vh - 40px);
  height: 100%;
  min-height: 320px;
  width: 320px;
  overflow: visible;
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 3px;
  justify-self: end;
  &:active,
  &:focus-within {
    z-index: 100;
  }
}
