@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  padding: 0.25rem 0.5rem;
}

.formulas-toggle {
  float: right;
  --mdc-icon-button-size: 1.6rem;
}

mwc-button[unelevated] {
  --mdc-theme-primary: #{lightv(var(--color-secondary), 0.7)};
  filter: saturate(0.8) hue-rotate(-40deg);
  margin-bottom: 0.25rem;
  width: 100%;
}

.heal-info {
  color: var(--color-text-lighter);
  padding-left: 0.5ch;
  margin-top: 0.25ch;
}

rolled-formulas-list {
  margin-top: 0.25rem;
}

.additional {
  display: flex;
  flex-flow: column;
  border: 1px solid var(--color-border);
  padding: 0.25rem;
  box-shadow: 0 0 4px black;
}
