@use "scss/functions" as *;
@use "scss/mixins" as *;

@include itemAddon();

* {
  box-sizing: border-box;
}

:host {
  display: block;
  
}

.attack-details {
  display: grid;
  padding: 0.25rem;
  font-size: large;
}

.detail-forms {
  padding: 0.5rem 0 0;
}

.quantity-form {
  grid-template-columns: 1fr 1fr;
  > * {
    width: min-content;
    & + * {
      justify-self: end;
    }
  }
}

.skill-form {
  display: flex;
  align-items: center;
  margin-left: 0.65rem;
  @include inputReset();
  input {
    flex: 1;
    margin-left: 1ch;
    position: relative;
    top: -2px;
    padding: 0 0.25rem;
  }
}

.radio-wrapper {
  display: flex;
  align-items: center;
  color: var(--color-text-lighter);
  font-size: 1.1rem;
}

