@use "scss/functions" as *;
@use "scss/mixins" as *;

@include dataComma();
@include listItemLabel();

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

li {
  list-style: none;
}

.effects-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0.5rem 0.25rem;

  li:not(.label) {
    margin-left: 0.5ch;
    display: inline-flex;

    @include textButton();

  }
}

[data-comma]::after {
  margin-left: -0.5ch;
}
