@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: column;
  padding: 0.5rem 1rem;
  background: var(--color-bg);
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.armor-types {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.macro {
  justify-self: flex-start;
  margin-right: 1rem;
}
