@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin: 0.75rem 0 0.75rem 1rem;
}
