@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-auto-rows: min-content;
}

header {
  padding: 0.25rem 0.75rem 0;

  .name {
    all: unset;
    font-size: larger;
    display: inline-block;
    margin-right: 0.25ch;

    &:hover,
    &:focus {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .info {
    color: var(--color-text-lighter);
    font-family: var(--font-2);
    font-size: small;
  }
}

.resource-points {
  display: inline-flex;
  padding: 0.25rem;
  position: relative;
  float: right;
  > * {
    padding: 0 0.5rem;
    background: alphav(var(--color-grey), 0.1);
    margin-left: 0.25rem;
    border-radius: 3px;
    list-style: none;
    border: 1px solid alphav(var(--color-grey), 0.15);
  }
  .value {
    color: var(--color-text-lighter);
  }
}

.motivations-list {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0.25rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.motivation {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  margin-left: 0.25rem;
  border-radius: 3px;
  position: relative;
  @include textButton();
  mwc-icon {
    color: var(--color-negative);
    &.support {
      color: var(--color-secondary);
      filter: hue-rotate(-30deg);
    }
  }
  notification-coin {
    position: static;
    margin-left: 0.5ch;
    --coin-bg: #{alphav(var(--color-grey), 0.2)};
  }
}

.aptitudes-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.aptitude {
  &-item {
    padding: 0.25rem 0.5rem;
  }
  &-name {
    text-align: center;
    font-size: large;
    line-height: 1.125rem;
    text-transform: uppercase;
    color: var(--color-text-lighter);
    letter-spacing: 1px;
  }
  &-points {
    font-size: large;
    margin-right: 0.5ch;
    min-width: 2ch;
    text-align: center;
  }
  &-check {
    border-bottom: 1px solid var(--color-text-lighter);
    height: min-content;
    min-width: 2ch;
    text-align: center;
  }
  &-values {
    display: flex;
    justify-content: center;
  }
}
