@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  gap: 0.5rem;
  grid-auto-rows: min-content;
  height: max-content;
}

sl-section {
  margin: 0 0.25rem;
  &:last-of-type::part(content) {
    border-bottom: none;
  }
}

header {
  padding: 0.5rem 1rem;
  background: alphav(var(--color-grey), 0.1);
  border-bottom: 1px solid var(--color-border);

  button {
    all: unset;
    border-bottom: 1px solid var(--color-border);
    font-family: var(--font-2);
    @include truncate(350px);
    font-size: 1rem;
    margin-right: 0.25ch;

    &:hover,
    &:focus {
      cursor: pointer;
      border-bottom-color: var(--color-text-lighter);
    }
  }
  .details {
    color: var(--color-text-lighter);
  }

  mwc-icon-button {
    float: right;
    --mdc-icon-button-size: 2rem;
    margin-top: -0.5rem;
    position: relative;
    top: 0.25rem;
  }
}
.mental-health-view {
  border-top: 1px solid var(--color-border);
}

.aptitudes-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.aptitude {
  &-item {
    padding: 0.25rem 0.5rem;
  }
  &-name {
    font-size: normal;
    text-align: center;
  }
  &-points {
    font-size: large;
    margin-right: 0.5ch;
    min-width: 2ch;
    text-align: center;
  }
  &-check {
    border-bottom: 1px solid currentColor;
    height: min-content;
    min-width: 2ch;
    text-align: center;
  }
  &-values {
    display: flex;
  }
}

.skill-controls {
  @include inputReset();
  height: 1.25rem;
  input {
    height: 1.25rem;
    border: none;
    padding: 0;
  }
}

.skills-list {
  column-count: 2;
  column-gap: 0;
  padding: 0.25rem 0;
  overflow: hidden;
  font-size: 14px;
  // font-weight: lighter;
  &.single-column {
    column-count: 1;
  }
  > * {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  .divider {
    border-top: 1px solid var(--color-border);
    column-span: all;
    margin: 0.25rem 0;
    list-style: none;
  }
}

.skill-item {
  padding: 0 0.5rem;
  transition: opacity 200ms, transform 200ms;
  .skill-name {
    @include truncate(150px);
    display: inline-block;
  }
  .skill-total {
    margin-left: 1ch;
  }

  &.filtered {
    opacity: 0.5;
    transform: translateX(0.5rem);
    border-color: transparent;
  }
}

.rep-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.rep-item {
  display: inline-grid;
  // width: 130px;
  grid-template-areas:
    'name name score'
    'favors favors favors';
  grid-auto-rows: min-content;
  place-items: center;
  gap: 2px;
  position: relative;
  font-size: 1.1rem;
  padding: 0.25rem 0.25rem 0.5rem;
  z-index: 0;
  &:focus {
    outline: none;
  }

  .rep-acronym {
    grid-area: name;
    text-transform: lowercase;
    transform: translateY(-1px);
    z-index: 1;
  }

  .rep-score {
    grid-area: score;
    justify-self: baseline;
  }

  .favors {
    grid-area: favors;
  }

  .rep-info {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    width: 60px;
  }
  .favors {
    grid-area: favors;
    --mdc-icon-size: 1.1rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1.1rem;
    margin-top: -0.25rem;
    gap: 0.25rem;
    color: alphav(var(--color-text), 0.7);
    z-index: 1;
    mwc-icon {
      transition: color 100ms;
    }
    span {
      display: flex;
      &:hover {
        mwc-icon {
          color: var(--color-grey);
        }
      }
    }
  }
}

.motivations-list {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0.25rem;
  position: relative;
}

.motivation {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  background: alphav(var(--color-grey), 0.1);
  margin-left: 0.25rem;
  border-radius: 3px;
  mwc-icon {
    color: var(--color-negative);
    &.support {
      color: var(--color-secondary);
      filter: hue-rotate(-30deg);
    }
  }
}

.resource-points {
  display: flex;
  padding: 0 0.25rem;
  margin-left: auto;
  position: relative;
  > * {
    padding: 0 0.5rem;
    background: alphav(var(--color-grey), 0.1);
    margin-left: 0.25rem;
    border-radius: 3px;
    list-style: none;
  }
  .value {
    color: var(--color-text-lighter);
  }
}

.details {
  // display: flex;
  padding: 0 0.5rem;
  > * {
    @include truncate(100%);
  }
  .value {
    color: var(--color-text-lighter);
  }
}

enriched-html {
  padding: 0 1rem;
}
