@import "./scss/mixins";

@include heading;

:host {
  z-index: 1000;
}
// h1 {
//   font-size: 4rem;
// }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 55vh;
  background-color: #2196f3;
  background: linear-gradient(315deg, #b4d2ea 0%, #2196f3 100%);
  font-size: 24px;
}
.link {
  color: white;
}
