@use "scss/colors";
@use "scss/functions";
@use "scss/mixins";
@use "scss/chat";
@use "scss/css-properties";


@include mixins.styled-scrollbars;
@include mixins.widgetless-number-inputs;

body {
  color: var(--color-text);
  background-color: #000000;

  font-size: 1rem;
}

li[divider] {
  border-color: alphav(var(--color-border), 0.5);
  margin: 0.25rem 0;
}
[slot="graphic"] {
  color: currentColor;
}

mwc-menu {
  --mdc-theme-surface: black;
  --mdc-menu-item-height: 2rem;
  --mdc-menu-min-width: 200px;
  --mdc-list-vertical-padding: 0.25rem;

  --mdc-theme-text-primary-on-background: hsl(0, 0%, 85%);
  --mdc-list-item-graphic-margin: 1rem;
  --mdc-list-item-graphic-size: 20px;
  --mdc-icon-size: 20px;
  --mdc-theme-primary: var(--color-primary-alt);
  mwc-list-item[noninteractive]:not([graphic]):not([twoline]) {
    height: var(--mdc-menu-item-height);
  }
  [slot="graphic"] {
    border-radius: 4px;
  }
}

web-dialog {
  footer {
    display: flex;
    justify-content: flex-end;
  }
}

* {
  &:not(mwc-icon):not(i) {
    font-family: var(--font-primary);
  }
}


