@use "scss/colors";
@use "scss/functions" as *;
@use "scss/mixins" as *;

@use "scss/css-properties";
@use "scss/chat";
@use "scss/fields";
@use "scss/form-buttons";
@use "scss/app-windows";
// @use "scss/chat-message";
@use "scss/controls";
@use "scss/players";

@include styled-scrollbars;
@include widgetless-number-inputs;

body {
  color: var(--color-text);
  background-color: #000000;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 600ms ease-out 400ms;
  background-image: none;
  &.ready {
    opacity: 1;
  }
}

.drag-image {
  position: absolute;
  left: -1000px;
  background: var(--color-grey);
  box-shadow: 0 0 4px black;
  padding: 0.25rem 0.5rem;
  border-radius: 7px;
  @include truncate(250px);
}

mwc-dialog {
  --mdc-theme-surface: #{lightv(var(--color-bg-alt), 1.2)};
  > * {
    overflow: hidden;
    &[slot] {
      --mdc-theme-primary: var(--color-primary-alt);
    }
  }
}

#logo {
  display: none;
}

li[divider] {
  border-color: alphav(var(--color-border), 0.5);
  margin: 0.25rem 0;
}
[slot='graphic'] {
  color: currentColor;
}

mwc-menu {
  --mdc-theme-surface: #{lightv(var(--color-grey), 0.35)};
  --mdc-menu-item-height: 2rem;
  --mdc-menu-min-width: 200px;
  --mdc-list-vertical-padding: 0.25rem;
  li[divider] {
    border-color: var(--color-bg);
    margin: 0.25rem 0;
  }
  --mdc-theme-text-primary-on-background: var(--color-text);
  --mdc-list-item-graphic-margin: 1rem;
  --mdc-list-item-graphic-size: 20px;
  --mdc-icon-size: 20px;
  --mdc-theme-primary: var(--color-primary-alt);
  mwc-list-item[noninteractive]:not([graphic]):not([twoline]) {
    height: var(--mdc-menu-item-height);
  }
  mwc-list-item[disabled] {
    color: var(--color-text-disabled);
  }
  [slot='graphic'] {
    border-radius: 4px;
    img {
      border: none;
    }
  }
}

* {
  &:not(mwc-icon):not(i) {
    font-family: var(--font-1);
  }
}

mwc-snackbar {
  z-index: 99999;
  position: absolute;
  bottom: 50px;
}

code.formula {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-mono);
  padding: 0 1ch;
}

.entity-link {
  background: transparent !important;
  color: var(--color-primary-alt) !important;
  border: none !important;
  padding: 0 !important;
  i {
    color: currentColor !important;
  }
  &.broken {
    color: var(--color-text-lighter) !important;
    cursor: initial;
  }
  &:not(.broken):hover {
    text-shadow: 0 0 1px currentColor;
  }
}

#token-hud {
  .status-effects {
    .effect-control {
      transition: all 100ms;
      &:not(.active).overlay {
        opacity: 0.5;
      }
    }
  }
}

table {
  border-color: var(--color-border);
}

#compendium {
  > .directory-list {
    max-height: unset;
  }
  .compendium-entity:last-child {
    li.compendium-pack {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  li.compendium-pack {
    border-bottom-color: alphav(var(--color-border), 0.75);
    cursor: pointer;
    margin: 0 1px;
    padding: 0.5rem;

    &:hover {
      background: rgba(black, 0.2);
    }
    &:active {
      background: rgba(black, 0.3);
    }
    .pack-title {
      font-size: 1rem;
      margin-bottom: 0.25rem;
      a {
        pointer-events: none;
      }
      .status-icons {
        right: 0.5rem;
      }
    }
    .compendium-footer {
      color: var(--color-text-lighter);
      margin-left: 1.65rem;
    }
  }
}

#combat-controls {
  background: lightv(var(--color-bg), 1.2);
}

#permissions-config {
  .hint {
    color: var(--color-text-lighter);
    margin-top: 0;
  }
}

#controls-reference {
  .window-content {
    color: var(--color-text);
  }
  .gm .key {
    color: var(--color-bg);
  }
  h3 {
    border-color: alphav(var(--color-primary), 0.4);
  }
}

.filepicker {
  .filepicker-header {
    button,
    .display-modes > .display-mode {
      background: var(--color-bg);
      &:hover,
      &:focus {
        background: var(--color-primary) !important;
      }
      &.active {
        background: alphav(var(--color-primary), 0.5);
        border: 1px solid var(--color-primary);
      }
      > * {
        text-shadow: 0 0 0px black;
      }
    }
  }

  .private div.form-group.current-dir > button.privacy {
    background: alphav(var(--color-primary), 0.5);
  }

  .directory {
    border-color: var(--color-primary);
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;

    > li {
      border: none;

      &:hover {
        background: alphav(var(--color-text), 0.1);
        text-shadow: 0 0 0px black;
      }
      &.picked {
        background: alphav(var(--color-text), 0.15);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 3px var(--color-secondary) inset;
      }
    }
  }
}

* .tox .tox-toolbar-overlord {
  background-color: transparent !important;
}

* .tox .tox-toolbar-overlord .tox-toolbar__primary {
  background-color: transparent !important;
}

.surprise-label {
  background: var(--color-primary);
}

#controls,
#navigation {
  position: relative;
  top: unset;
  left: unset;
}

#navigation {
  position: relative;
  width: calc(100% - 350px);
  pointer-events: none;
  flex: 1;
  min-height: 42px;
  // z-index: 30;
  #nav-toggle {
    pointer-events: initial;
  }

  #nav-toggle {
    border: none;
    background: alphav(var(--color-bg-alt), 0.5);
    border-radius: 100%;
    display: grid;
    place-items: center;
    flex: unset;
    height: 1.75rem;
    width: 1.75rem;

    &:hover {
      text-shadow: none !important;
      background: alphav(var(--color-bg-alt), 0.7);
    }
    .fa-caret-down {
      position: relative;
      top: 2px;
    }
  }

  #scene-list {
    display: flex;
    flex-flow: row wrap;
    .scene {
      filter: contrast(0.95) drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.6));
      background: linear-gradient(
        to right,
        alphav(var(--color-bg), 0.8),
        alphav(var(--color-bg-alt), 0.8)
      );
      border: 1px solid var(--color-border);
      &.gm {
        background: lightv(var(--color-primary), 0.3) !important;
        border: 1px solid lightv(var(--color-primary), 0.5);
      }
      a {
        text-shadow: none !important;
        pointer-events: none;
      }
      &:not(.view) {
        cursor: pointer;
        &:hover {
          filter: contrast(0.95) drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.6))
            brightness(1.1);
        }
        &:active {
          filter: contrast(0.95) drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.6))
            brightness(1.2);
        }
      }
      &.view {
        // display: none;
        cursor: initial;
        background: linear-gradient(
          to right,
          var(--color-bg),
          var(--color-bg-alt)
        );
        border: 1px outset var(--color-primary-alt);
        box-shadow: 0 0 4px var(--color-primary-alt), 0 1px 3px black;
        filter: contrast(0.95) drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.8));
      }
    }
  }

  li {
    pointer-events: initial;
    min-width: max-content;
  }
}

.quick-test-popover {
  // display: grid;
  // place-items: center;
  align-self: center;
  flex: 0;
  height: 24px;
}

.quick-test-button {
  padding: 0;
  background: transparent;
  color: var(--color-primary-alt);

  align-self: flex-end;
  line-height: 16px;
  border-right: 1px solid alphav(var(--color-text), 0.1);
  padding: 0 0.5rem;
  text-align: center;
  height: 100%;
  border-radius: 0px;
  font-size: 1rem;
  &:hover {
    color: var(--color-text);
  }
}

.quick-test-form {
  line-height: 14px;
}

#sidebar {
  display: none;
}

#scenes {
  .scene {
    border: none;
    box-shadow: none;
    &:hover {
      filter: grayscale(1);
      a {
        text-shadow: 1px 2px 3px black;
        text-decoration: underline;
      }
    }
  }
}

sl-tooltip {
  .dice-tooltip {
    padding: 0.25rem;
    display: block;
    background: transparent;
    margin-top: 0;
    min-width: 200px;
  }
  mwc-list {
    img {
      border: none;
    }
  }
}

#scenes {
  .scene {
    border: none;
    box-shadow: none;
    &:hover {
      filter: grayscale(1);
      a {
        text-shadow: 1px 2px 3px black;
        text-decoration: underline;
      }
    }
  }
}

#actors,
#items {
  .entity {
    display: grid;
    grid-template-areas:
      'img name'
      'img type';
    line-height: 16px;
    padding: 0.25rem 0.5rem;
    border: none;
    > img {
      grid-area: img;
    }
    > h4 {
      grid-area: name;
      margin: 0;
      padding: 0;
      align-self: end;
      pointer-events: none;
    }
    &:hover {
      box-shadow: 0 0 4px var(--color-grey);
    }
    &:focus {
      background-color: var(--color-bg-alt);
      outline: none;
    }
    &::after {
      content: attr(data-type);
      grid-area: type;
      font-size: 12px;
      opacity: 0.8;
      align-self: start;
    }
    &[style='display: flex;'] {
      display: grid !important;
    }
    &.item {
      img {
        &[src='icons/svg/mystery-man.svg'],
        &[data-src='icons/svg/mystery-man.svg'] {
          opacity: 0.1;
        }
      }
    }
  }
}

.directory-header {
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid var(--color-border);
  input[name='search'] {
    color: black;
    &:focus {
      outline: solid var(--color-secondary);
    }
  }
}

.sidebar-tab {
  &#combat {
    display: flex;
  }

  > header {
    grid-area: header;
  }
  > footer {
    grid-area: footer;
  }
  > .directory-list {
    grid-area: list;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.25rem 0;
    .entity {
      background-color: alphav(var(--color-bg), 0.3);
      img {
        pointer-events: none;
      }
      &:hover {
        cursor: pointer;
        background-color: alphav(var(--color-bg), 0.8);
        a {
          text-shadow: none;
        }
      }
      &:active {
        background-color: var(--color-bg);
      }
    }
  }
}

.message {
  display: block;
  background: linear-gradient(
    to left,
    alphav(var(--color-bg), 0.96),
    alphav(var(--color-bg-alt), 0.96)
  );
  background: alphav(var(--color-bg), 0.96);
  width: calc(100% - 1rem);
  color: var(--color-text);
  border: 2px groove var(--color-border) !important;
  padding: 0;
  margin: 0 0 0.25rem 0 !important;
  border-radius: 0.5rem 0px 0px 0.25rem !important;
  .message-header,
  .message-content {
    pointer-events: initial;
  }

  .message-header {
    display: grid;
    grid-template-areas:
      'img sender meta'
      'img whisper whisper'
      'img flavor flavor';
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 0.5rem 1fr auto;
    color: var(--color-text);
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid var(--color-border);
    column-gap: 0.5rem;
    align-items: center;
    position: relative;

    img {
      all: unset;
      grid-area: 1 / 1 / -1 / -1;
      width: 2rem;
      position: absolute;
      transform: translate(-70%, -0.1rem);
      align-self: start;
      filter: drop-shadow(1px 3px 3px black);
      pointer-events: none;
      z-index: 10;
    }
  }

  .message-content {
    font-size: 1rem;
    &.non-ep {
      padding: 0.25rem 0.5rem;

    }
  }


  .message-metadata {
    color: var(--color-text-lighter);
    padding-right: 0.25rem;
    grid-area: meta;
  }

  .message-sender {
    display: block;
    grid-area: sender;
    @include truncate(100%);

    &::after {
      content: attr(data-author);
      color: var(--color-text-lighter);
      margin-left: 0.5ch;
      font-size: small;
    }
  }

  .whisper-to,
  .flavor-text,
  .message-sender {
    line-height: initial;
  }

  .whisper-to {
    grid-area: whisper;
    color: var(--color-text-lighter)
  }

  .flavor-text {
    grid-area: flavor;
    color: var(--color-text-lighter);
  }

  &.whisper {
    background: var(--color-bg);
  }
}

.chat-popout {
  .window-content {
    overflow: visible;
  }
  .message {
    border: none !important;
    width: 100%;
  }
}