@use 'scss/functions' as *;
@use 'scss/mixins' as *;
@use 'scss/css-properties';
@use 'scss/colors';

@for $i from 1 through 9 {
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: #{$i}00;
    src: url('./fonts/Jost-VariableFont_wght.ttf') format('truetype');
  }
}

@for $i from 3 through 9 {
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: #{$i}00;
    src: url('./fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  }
}

@for $i from 3 through 6 {
  @font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: #{$i}00;
    src: url('./fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('./fonts/MaterialIcons.woff2') format('woff2');
}


ep-overlay,
combat-view {
  @include styled-scrollbars;
  @include widgetless-number-inputs;
}

.ep-window-container {
  display: contents;
}

ep-overlay[faded]~.ep-window-container {
  visibility: hidden !important;
}

combat-view {
  background: var(--ep-color-bg-alt);
  color: var(--ep-color-text);
  --mdc-theme-text-icon-on-background: var(--ep-color-text);

}

#combat {
  combat-view {
    flex: 1;
  }
}



mwc-menu {
  --mdc-theme-surface: #{lightv(var(--ep-color-bg), 1.45)};
  --mdc-menu-item-height: 2rem;
  --mdc-menu-min-width: 200px;
  --mdc-list-vertical-padding: 0.25rem;
  --mdc-theme-text-icon-on-background: var(--ep-color-text);


  li[divider] {
    border-color: var(--ep-color-border);
    margin: 0.25rem 0;

    &+[divider] {
      display: none;
    }
  }

  --mdc-theme-text-primary-on-background: var(--ep-color-text);
  --mdc-list-item-graphic-margin: 1rem;
  --mdc-list-item-graphic-size: 20px;
  --mdc-icon-size: 20px;
  --mdc-theme-primary: var(--ep-color-primary-alt);

  mwc-list-item[noninteractive]:not([graphic]):not([twoline]) {
    height: var(--mdc-menu-item-height);
  }

  mwc-list-item[disabled] {
    color: var(--ep-color-text-disabled);
  }

  [slot='graphic'] {
    border-radius: 4px;

    img {
      border: none;
    }
  }
}







* .tox .tox-toolbar-overlord {
  background-color: transparent !important;
}

* .tox .tox-toolbar-overlord .tox-toolbar__primary {
  background-color: transparent !important;
}

.surprise-label {
  background: var(--ep-color-primary);
}


.ep-extra-info {
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  grid-template-rows: auto auto;
  column-gap: 0.5rem;

  * {
    color: var(--ep-color-text);
  }

  scene-view {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  world-time-controls {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  mwc-icon-button {
    --mdc-icon-size: 1.25rem;
    --mdc-icon-button-size: 2rem;
    pointer-events: auto;
    background: alphav(var(--ep-color-bg), 0.5);
    box-shadow: 0 0 4px black;
    border-radius: 100%;
  }

  #ep-gm-panel {
    grid-row: 1 / -1;
    grid-column-start: 1;
    margin: 0.5rem auto auto;
  }

  .ep-extra-chat-controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    grid-column-start: 3;
    grid-row: 1 / -1;
    --mdc-icon-size: 1.25rem;
    --mdc-icon-button-size: 2rem;





  }
}

.ep-window-container {
  &:not(mwc-icon):not(i) {
    font-family: var(--font-1);
  }
}


sl-window {
  @include styled-scrollbars;
  @include widgetless-number-inputs;
}

sl-tooltip {
  color: var(--ep-color-text);

  .dice-tooltip {
    padding: 0.25rem;
    display: block;
    background: transparent;
    margin-top: 0;
    min-width: 200px;
  }

  mwc-list {
    img {
      border: none;
    }
  }
}

.sidebar-popout {



  .message {
    width: 100% !important;

    .message-header {
      grid-template-columns: auto 1fr auto;

      .image-wrapper {
        grid-area: img;
        align-self: start;
        filter: none;
        pointer-events: none;
      }

      img {
        all: initial;
        width: 22px;
        display: block;
      }
    }
  }
}

.message {
  display: block;
  background: alphav(var(--ep-color-bg), 0.8);
  width: calc(100% - 1rem);
  color: var(--ep-color-text);
  border: 2px solid var(--ep-color-border) !important;
  padding: 0;
  margin: 0 0 0.25rem 0.85rem;
  border-radius: 0.5rem 0px 0px 0.25rem !important;
  box-shadow: 0 0 4px var(--ep-color-bg);

  * {
    &:not(mwc-icon):not(i) {
      font-family: var(--font-1);
    }
  }


  &:last-child {
    margin-bottom: 0 !important;
  }

  &.collapsed {
    .message-content {
      display: none !important;
    }
  }

  &.new {
    @include animate-css(fadeInLeftBig, 500ms);
    animation-fill-mode: none !important;
  }

  &.updated {
    @include animate-css(pulse, 300ms);
    backface-visibility: hidden;
    animation-fill-mode: none;
  }

  .message-header,
  .message-content {
    pointer-events: initial;
  }

  .message-header {
    display: grid;
    grid-template-areas:
      'img sender meta'
      'img whisper whisper'
      'img flavor flavor';
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 0.5rem 1fr auto;
    color: var(--ep-color-text);
    padding: 0.2rem 0.3rem;
    border-bottom: 1px solid var(--ep-color-border);
    column-gap: 0.5rem;
    align-items: center;
    position: relative;
    z-index: 1;
    background: alphav(var(--ep-color-grey), 0.15);
    border-top-left-radius: 0.5rem;

    .image-wrapper {
      grid-area: img;
      align-self: start;
      filter: drop-shadow(2px 3px 3px black);
      pointer-events: none;
    }

    img {
      all: unset;
      width: 2rem;
      position: absolute;
      transform: translate(-65%, -0.4rem);
      z-index: 10;
    }

    .message-timestamp,
    .message-delete {
      font-size: 12px;
    }
  }

  .message-content {
    font-size: 1rem;
    background: linear-gradient(to bottom,
        alphav(var(--ep-color-bg-alt), 0.8),
        alphav(var(--ep-color-bg), 0.8));

    &.non-ep {
      padding: 0.25rem 0.5rem;
    }
  }

  .message-metadata {
    color: var(--ep-color-text-lighter);
    padding-right: 0.25rem;
    grid-area: meta;
  }

  .message-sender {
    display: block;
    grid-area: sender;
    @include truncate(100%);

    &::after {
      content: attr(data-author);
      color: var(--ep-color-text-lighter);
      margin-left: 0.5ch;
      font-size: small;
    }
  }

  .whisper-to,
  .flavor-text,
  .message-sender {
    line-height: initial;
  }

  .whisper-to {
    grid-area: whisper;
    color: var(--ep-color-text-lighter);
  }

  .flavor-text {
    grid-area: flavor;
    color: var(--ep-color-text-lighter);
  }

  &.whisper {
    background: var(--ep-color-bg);

    .message-header {
      background: var(--ep-color-bg);
      background: linear-gradient(to bottom right,
          var(--ep-color-bg) 20%,
          lightv(var(--ep-color-primary-alt), 0.7));
    }
  }

  &.emote {
    background: var(--ep-color-bg);
  }
}

#chat-popout {
  .message {
    margin: 0 0 0.25rem 0 !important;
    border-radius: 0px !important;

  }
}

.chat-popout {
  .window-content {
    overflow: visible;
    height: max-content;
    padding: 0;
  }

  .message {
    border: none !important;
    width: 100%;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0px !important;
    margin: 0 0 0 0 !important;



    .message-content {
      padding: 0;
    }

    .message-header {
      grid-template-areas:
        'img sender meta'
        'whisper whisper whisper'
        'flavor flavor flavor';
      grid-template-columns: auto 1fr auto;
      border-top-left-radius: none;

      .whisper-to {
        margin-top: 0.25rem;
      }

      .image-wrapper {
        filter: none;
        display: grid;
        place-items: center;
      }

      img {
        position: static;
        transform: none;
        z-index: unset;
      }
    }
  }
}


// Combat Focus style overrides
#chat {
  &.small-chat {
    position: initial;

    &::before {
      width: 100%;
      border: 1px solid var(--ep-color-border);
      border-left: none;
      border-right: none;
      padding: 1px 2px;
      margin: 0.25rem 0;
      pointer-events: all;
      height: unset;
      position: relative;
      top: -4px;
      background: alphav(var(--ep-color-bg), 0.25);
    }

    &::after {
      display: none;
    }
  }
}



.actors-sidebar .document,
.items-sidebar .document,
.compendium-directory .directory-item.actor,
.compendium-directory .directory-item.item {
  >a {

    &::after {
      content: attr(data-type);
      font-size: 12px;
      // float: right;
      margin-inline: 1ch;
      opacity: 0.8
    }
  }
}

.drag-image {
  position: absolute;
  left: -1000px;
  background: var(--ep-color-grey);
  box-shadow: 0 0 4px black;
  padding: 0.25rem 0.5rem;
  border-radius: 7px;
  @include truncate(250px);
}