@use "scss/functions" as *;
@use "scss/mixins" as *;

@include styled-scrollbars;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: column;
  width: 350px;
  height: 400px;
  min-height: 400px;
  --mdc-icon-button-size: 2rem;
}

header {
  display: flex;
  justify-content: space-around;
}

footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 0.25rem 1rem;
  position: sticky;
  bottom: 0;
  background: var(--color-bg);

  justify-content: space-between;
  --mdc-theme-primary: var(--color-grey);
}

.label {
  list-style: none;
padding: 0.25rem 0.5rem 0;
  text-transform: uppercase;
  color: var(--color-text-lighter);
  letter-spacing: 1px;

}

.took-initiative {
  position: relative;
  & + :not(.took-initiative) {
    margin-top: 0.25rem;
    border-top: 1px solid var(--color-border);
    padding-top: 0.25rem;
  }
//   &::before {
//     content: '';
//     background: alphav(var(--color-grey), 0.1);
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: -1;
//   }
}

sl-animated-list {
  padding: 0.25rem 0;
}
header {
  h2 {
    font-weight: normal;
    font-size: larger;
    text-align: center;
    margin: 0;
  }
}

.phases {
  position: relative;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
