@use "scss/functions" as *;
@use "scss/mixins" as *;

@include styled-scrollbars;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: column;
  // width: 350px;
  height: 400px;
  min-height: 400px;
  --mdc-icon-button-size: 2rem;
}

:host([hidden]) {
  display: none;
}

header {
  padding: 0.25rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr max-content 1fr 1fr;
  border-bottom: 1px solid var(--color-border);
  place-items: center;
  column-gap: 0.5rem;
  h2 {
    font-weight: normal;
    font-size: larger;
    text-align: center;
    margin: 0;
    grid-column: 3;
  }
}

footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 0.25rem 1rem;
  position: sticky;
  bottom: 0;
  background: var(--color-bg);
  border-top: 1px solid var(--color-border);
  justify-content: space-between;
  --mdc-theme-primary: var(--color-grey);
}

.label {
  list-style: none;
  padding: 0.25rem 0.5rem 0;
  text-transform: uppercase;
  color: var(--color-text-lighter);
  letter-spacing: 1px;
}

.took-initiative {
  & + :not(.took-initiative) {
    margin-top: 0.25rem;
    border-top: 1px solid var(--color-border);
    padding-top: 0.25rem;
  }
}

:not(.extra) {
  & + .extra {
    &::before {
      content: attr(data-extra-label);
      padding: 0.25rem 0.5rem 0;
      text-transform: uppercase;
      color: var(--color-text-lighter);
      letter-spacing: 1px;
      display: block;
    }
  }
}

.combat-round {
  padding: 0.25rem 0;
  position: relative;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
}

.log-entries {
  list-style: none;
  width: 350px;
  padding: 0.5rem 0;
  margin: 0;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: scroll;
  wl-list-item {
    padding: 0.25rem 1rem;
  }
}

time-since {
  color: var(--color-text-lighter);
}
