@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: column;
}

.main-form {
  grid-template-columns: 1fr 1fr;
}

.min-form {
  display: flex;
  color: var(--color-text-lighter);
  span {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
  }
  input {
    background: transparent;
    color: var(--color-text-lighter);
    font-family: var(--font-1);
    font-size: 1rem;
    align-self: center;
    border: 1px inset var(--color-border);
    width: 5ch;
    flex: 1;
    margin-right: 0.75ch;
    &:focus {
      border-color: var(--color-secondary);
      outline: none;
    }
    &[disabled] {
      color: var(--color-text-disabled);
    }
  }
}
