@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  min-width: 720px;
}

.settings-toggle {
  left: -1rem;
  position: relative;
  width: calc(100% + 2rem);
  --mdc-theme-primary: var(--color-grey);
}

.settings-form {
  min-width: max-content;
}

[slot='description'],
[slot='details'] {
  @include animate-css(fadeIn, 1s);
  animation-fill-mode: none !important;
}

ego-form-skills {
  padding: 0;
  gap: 0;
  z-index: 0;
}

.aptitudes {
  margin-top: 0.3rem;
}

.hardening-label {
  margin-bottom: 0.5rem;
}

.resource-points-section {
  &.disabled {
    sl-header {
      border-bottom: none;
    }
  }
}

.points-form {
  grid-auto-flow: column;
  padding: 0.5rem 0;;
}

.ego-points-simple {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0 0 auto;
  list-style: none;
  > * {
    margin-right: 1rem;
  }
}
