@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: block;
  min-width: 720px;
}

.settings-toggle {
  left: -1rem;
  position: relative;
  width: calc(100% + 2rem);
  --mdc-theme-primary: var(--color-grey);
}

.settings-form {
  min-width: max-content;
}

[slot='description'],
[slot='details'] {
  @include animate-css(fadeIn, 1s);
  animation-fill-mode: none !important;
}

ego-form-skills {
  padding: 0;
  gap: 0;
  z-index: 0;
}

.aptitudes {
  margin-top: 0.3rem;
}

.hardening-label {
  margin-bottom: 0.5rem;
}

.resource-points-section {
  &.disabled {
    sl-header {
      border-bottom: none;
    }
  }
}

.points-form {
  grid-auto-flow: column;
  padding: 0.5rem 0 0;
}

.ego-points-simple {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 1.25rem;
  > * {
    margin-right: 0.75ch;
  }
  .value {
    display: inline-block;
    min-width: 2ch;
  }
}

.motivations-list {
  position: relative;
}


.character-details-form {
  padding: 0.5rem 0 0;
  display: block;
  column-count: 2;
  > * {
    break-inside: avoid;
  }
}

.stress-roll {
  --mdc-theme-primary: #{lightv(var(--color-negative), 1.75)};
}

.threat-details-form {
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem 0 0;
}

.psi {
  display: flex;
  padding: 0 0.5rem;
  margin: 0.5rem 0 0;
  align-items: center;
  font-size: large;
  border-left: 2px solid var(--color-border);
  --mdc-icon-button-size: 2rem;
  &:hover {
    background: alphav(var(--color-text), 0.03);
  }
  .psi-info {
    flex: 1;
  }
  .psi-level {
    color: var(--color-text-lighter);
  }
  .psi-label {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-text-lighter);
  }
}
