@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  grid-template-areas: 
  "button points total";
  padding: 0 1.5rem;
  grid-template-columns: 1fr auto auto;
  position: relative;
  outline: none;
  transition: opacity 200ms;
  --mdc-ripple-hover-opacity: 0.03;
  --mdc-ripple-focus-opacity: 0.06;
  .main {
    grid-area: button;
    --mdc-theme-primary: var(--color-primary-alt);
    display: flex;
    flex-flow: column;
    justify-content: center;
    .buttons {
      display: flex;
      justify-content: space-between;
      height: 28px;
      delete-button {
        margin-top: -2px;
      }
    }
  
  }
  .main-form {
    display: flex;
    input {
      width: 50px;
      flex: 1;
      background: transparent;
      color: var(--color-text);
      font-family: var(--font-1);
      font-size: 1rem;
      border: 1px inset var(--color-grey);
      border-radius: 3px;
      background: var(--color-bg);
      &:focus {
        outline: none;
        border-color: var(--color-secondary);
        z-index: 1;
      }
      &:nth-of-type(2n) {
        margin-left: 0.5ch
      }
    }
  }

  button {
    all: unset;
    display: flex;
    flex-flow: column;
    justify-content: center;
    cursor: pointer;
    &[disabled] {
      pointer-events: none;
    }

  }

  .name {
    font-size: larger;
    @include truncate(286px);
  }
  .info {
    color: var(--color-text-lighter);
    @include truncate(286px);
  }
  .points-form {
    display: contents;
    input {
      all: unset;
      font-size: 2.2rem;
      text-align: center;
      width: 4ch;
      font-family: var(--font-1);;
      box-sizing: border-box;
      padding: 0.5rem;
      transition: opacity 200ms;
      cursor: initial;
      &:first-of-type {
        grid-area: points;
        border-right: 1px solid var(--color-border);
      }
      &:nth-of-type(2n) {
        grid-area: total;
      }
      &[disabled] {
        opacity: 0.8;
      }
    }
  }

}

:host([filtered]) {
  opacity: 0.5;
}
