@use "scss/functions" as *;
@use "scss/mixins" as *;

* {
  box-sizing: border-box;
}

:host {
  display: inline-flex;
  align-items: baseline;
}

.label {
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 0.8em;
  padding-right: 4px;
  margin: 0;
  opacity: 0.8;
}

.value {
  display: inline-block;
  min-width: var(--min-value-width);
  z-index: 0;
  margin: var(--group-value-margin, 0);
  font-size: 1em;
}
