@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: grid;
  padding: 0 0.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0;
  --mdc-theme-primary: var(--color-grey);
}

.shared {
  display: flex;
  flex-flow: row wrap;
  margin: 0.25rem 0;
  > * {
    padding: 0 0.75rem;
    border: 1px solid var(--color-bg);
    background: rgba(black, 0.35);
    margin-left: 0.5ch;
  }
}

.area-effect {
  .area-values {
    color: var(--color-text-lighter);
  }
}

ul {
  display: grid;
  list-style: inside;
}

li {
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  color: var(--color-text-lighter);
  * {
    color: var(--color-text);
  }
  .label {
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--color-text);
    & ~ * {
      color: var(--color-text-lighter);
    }
  }
}
