@use "scss/functions" as *;
@use "scss/mixins" as *;

@include resetUnorderedList();

* {
  box-sizing: border-box;
}

:host {
  display: flex;
  flex-flow: column;
}

.condition-effects {
  color: var(--color-text-lighter);
  margin: 0 1rem 1rem;
}
mwc-check-list-item {
  height: 3rem;
}
li[divider] {
  border-color: var(--color-border);
  &:last-of-type {
    display: none;
  }
}

.effects-toggle {
  --mdc-theme-primary: var(--color-grey);
}
